{% extends "@PaprecCommercial/Common/emails/base_email.html.twig" %}

 {% block picto_header %}
     <a href="{{ paprec_public_site_url }}" target="_blank">
         {#<img alt="Logo" src="{{ absolute_url('build/static/logo.png') }}"  width="75px" height="75px" style="font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-size: 16px;" border="0">#}
         LOGO
     </a>
 {% endblock %}

{% block title_header %}
    Nouvelle commande pour déchets D3E
{% endblock %}

{% block subtitle_header %}
    Commande D3E - N° {{ productD3EOrder.id|formatId(6) }}
{% endblock %}

{% block main_content %}
    <tr>
        Détail de la demande N° {{ productD3EOrder.id|formatId(6) }} - {{ productD3EOrder.dateCreation|date('d/m/Y H:i:s') }}
    </tr>
    <tr>
        <td class="label">
            {{ 'Commercial.ProductD3EOrder.BusinessName'|trans }}
        </td>
        <td class="value">
            {{ productD3EOrder.businessName }}
        </td>
    </tr>
    <tr>
        <td class="label">
            {{ 'Commercial.ProductD3EOrder.BusinessLine'|trans }}
        </td>
        <td class="value">
            {{ productD3EOrder.businessLine.name }}
        </td>
    </tr>
    <tr>
        <td class="label">
            {{ 'Commercial.ProductD3EOrder.Civility'|trans }}
        </td>
        <td class="value">
            {{ productD3EOrder.civility }}
        </td>
    </tr>
    <tr>
        <td class="label">
            {{ 'Commercial.ProductD3EOrder.LastName'|trans }}
        </td>
        <td class="value">
            {{ productD3EOrder.lastName }}
        </td>
    </tr>
    <tr>
        <td class="label">
            {{ 'Commercial.ProductD3EOrder.FirstName'|trans }}
        </td>
        <td class="value">
            {{ productD3EOrder.firstName }}
        </td>
    </tr>
    <tr>
        <td class="label">
            {{ 'Commercial.ProductD3EOrder.Function'|trans }}
        </td>
        <td class="value">
            {{ productD3EOrder.function }}
        </td>
    </tr>
    <tr>
        <td class="label">
            {{ 'Commercial.ProductD3EOrder.Email'|trans }}
        </td>
        <td class="value">
            {{ productD3EOrder.email }}
        </td>
    </tr>
    <tr>
        <td class="label">
            {{ 'Commercial.ProductD3EOrder.Phone'|trans }}
        </td>
        <td class="value">
            {{ productD3EOrder.phone }}
        </td>
    </tr>
{% endblock %}

{% block footer %}
    <tr>
        <td>
            <a href="{{ absolute_url(path("paprec_commercial_productD3EOrder_view", {id: productD3EOrder.id})) }}">
                Consulter la commande
            </a>
        </td>
    </tr>
{% endblock %}

{% block sub_footer %}
    <tr>
        <td>
            Cet email est un message automatique
        </td>
    </tr>
{% endblock %}

