{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ 'Catalog.GrilleTarifD3E.View'|trans }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css"
          href="{{ asset('/assets/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css') }}">

{% endblock %}

{% block content_title %}
    {{ 'Catalog.GrilleTarifD3E.GrilleTarifD3Es'|trans }}
{% endblock %}

{% block main_content %}


    <div class="col-md-12">
        <!-- CARD -->
        <div class="card">
            <div class="card-header">
                <h4>
                    <i class="fa fa-xs fa-folder"></i> {{ 'Catalog.GrilleTarifD3E.View'|trans }}
                    <div class="float-right">
                        <a href="{{ path("paprec_catalog_grilleTarifD3E_edit", {id: grilleTarifD3E.id}) }}"
                           class="btn btn-sm btn-warning"><i
                                    class="fa fa-xs fa-edit"></i> {{ 'Catalog.GrilleTarifD3E.Edit'|trans }}</a>
                        <a id="catalogGrilleTarifD3ERemoveButton" href="javascript:void(0);"
                           class="btn btn-sm btn-danger"><i
                                    class="fa fa-xs fa-trash"></i> {{ 'Catalog.GrilleTarifD3E.Remove'|trans }}</a>
                    </div>
                </h4>
                <div class="float-left">
                    <a href="{{ path('paprec_catalog_grilleTarifD3E_index') }}" class="btn btn-sm btn-default"><i
                                class="fa fa-xs fa-chevron-left"></i> {{ 'Catalog.GrilleTarifD3E.List'|trans }}</a>
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ 'Catalog.GrilleTarifD3E.Informations'|trans }}</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'Catalog.GrilleTarifD3E.Name'|trans }}</label>
                                <label class="col-form-label col-md-8">
                                    {{ grilleTarifD3E.name }}
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-7 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ 'Catalog.GrilleTarifD3E.System-informations'|trans }}</h5>
                        </div>
                        <div class="card-body">

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'Catalog.GrilleTarifD3E.Date-creation'|trans }}</label>
                                <label class="col-form-label col-md-8">
                                    {{ grilleTarifD3E.dateCreation|localizeddate('short', 'medium', app.request.locale) }}
                                </label>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'Catalog.GrilleTarifD3E.Date-update'|trans }}</label>
                                <label class="col-form-label col-md-8">
                                    {{ grilleTarifD3E.dateUpdate is empty ? "" : grilleTarifD3E.dateUpdate|localizeddate('short', 'medium', app.request.locale) }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">
                                {{ 'Catalog.GrilleTarifLigneD3E.GrilleTarifLigneD3Es'|trans }}
                                <div class="float-right">
                                    <a href="{{ path('paprec_catalog_grilleTarifD3E_addLigne', {id: grilleTarifD3E.id}) }}" id="addGrilleTarifD3ELigneButton"
                                       class="btn btn-sm btn-outline-primary">
                                        <i class="fa fa-xs fa-plus"></i> {{ 'Catalog.GrilleTarifLigneD3E.Add'|trans }}
                                    </a>
                                </div>
                            </h5>
                        </div>
                        <div class="card-body">
                            <table id="grilleTarifLigneD3EsDatatable"
                                   class="table table-striped table-bordered table-hover"
                                   cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{{ 'Catalog.GrilleTarifLigneD3E.PostalCodes'|trans }}</th>
                                    <th>{{ 'Catalog.GrilleTarifLigneD3E.Agency'|trans }}</th>
                                    <th>{{ 'Catalog.GrilleTarifLigneD3E.MinQuantity'|trans }}</th>
                                    <th>{{ 'Catalog.GrilleTarifLigneD3E.MaxQuantity'|trans }}</th>
                                    <th>{{ 'Catalog.GrilleTarifLigneD3E.Price'|trans }}</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for grilleTarifLigneD3E in grilleTarifD3E.grilleTarifLigneD3Es %}
                                    <tr>
                                        <td>{{ grilleTarifLigneD3E.id }}</td>
                                        <td>{{ grilleTarifLigneD3E.postalCodes }}</td>
                                        <td>{{ grilleTarifLigneD3E.agency }}</td>
                                        <td>{{ grilleTarifLigneD3E.minQuantity }}</td>
                                        <td>{{ grilleTarifLigneD3E.maxQuantity }}</td>
                                        <td>{{ grilleTarifLigneD3E.price }}</td>
                                        <td class="text-center">
                                            <a href="{{ path('paprec_catalog_grilleTarifD3E_editLigne', {id: grilleTarifD3E.id, ligneID: grilleTarifLigneD3E.id }) }}"
                                               class="btn btn-sm btn-warning mx-1">
                                                <i class="fa fa-xs fa-edit"></i>
                                            </a>
                                            <a href="javascript:void(0);"
                                               class="btn btn-sm btn-danger removeGrilleTarifD3ELigneButton"
                                               data-id="{{ grilleTarifLigneD3E.id }}"
                                            >
                                                <i class="fa fa-xs fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="modal fade" id="grilleTarifD3ELigneModal" tabindex="-1" role="dialog"
                                 aria-labelledby="Edit Ligne" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content" id="grilleTarifD3ELigneModalContent">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

        {% block javascripts %}

            <!-- DATA TABLES JS -->
            <script type="text/javascript"
                    src="{{ asset('/assets/vendor/datatables.net/js/jquery.dataTables.min.js') }}"></script>
            <script type="text/javascript"
                    src="{{ asset('/assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js') }}"></script>

            <script>

                $(function () {

                    $('.catalogGrilleTarifD3ESaveButton').on('click', function () {
                        $('#formAddGrilleTarifLigneD3E').submit();
                    });

                    $('#catalogGrilleTarifD3ERemoveButton').on('click', function () {

                        var url = "{{ path("paprec_catalog_grilleTarifD3E_remove", {id: grilleTarifD3E.id}) }}";

                        bootbox.confirm("{{ 'Catalog.GrilleTarifD3E.Confirm-remove'|trans }}", function (result) {
                            if (result === true) {
                                $(location).attr('href', url);
                            }
                        });

                    });

                    var grilleTarifLigneD3EsTable = $('#grilleTarifLigneD3EsDatatable').DataTable({
                        "language": {
                            "lengthMenu": "{{ 'General.Datatable.Records-per-page'|trans }}",
                            "zeroRecords": "{{ 'General.Datatable.Nothing-found'|trans }}",
                            "info": "{{ 'General.Datatable.Showing-page'|trans }}",
                            "infoEmpty": "{{ 'General.Datatable.No-records-available'|trans }}",
                            "search": "{{ 'General.Datatable.Search'|trans }}:",
                            "sProcessing": "{{ 'General.Datatable.Loading'|trans }}",
                            "paginate": {
                                "previous": "{{ 'General.Datatable.Previous'|trans }}",
                                "next": "{{ 'General.Datatable.Next'|trans }}",
                            }

                        },
                        "drawCallback": function () {
                            $('.dataTables_paginate > .pagination').addClass('pagination-sm');
                        },
                        "bSortCellsTop": true,
                        dom: 'f<"ml-auto">lrti<"ml-auto">p',
                    });

                    {#$('#addGrilleTarifD3ELigneButton').on('click', function () {#}
                        {#$.ajax({#}
                            {#type: "GET",#}
                            {#url: "{{ path('paprec_catalog_grilleTarifD3E_addLigne', {id: grilleTarifD3E.id}) }}",#}
                            {#contentType: "html",#}
                            {#success: function (response) {#}
                                {#// On récupère l'HTML du cart dans "Mon besoin" et on l'insère dans loadedCartPanel dans la sidebar#}
                                {#var htmlToDisplay = response.trim();#}
                                {#$("#grilleTarifD3ELigneModalContent").html(htmlToDisplay);#}
                            {#},#}
                            {#error: function (errorThrown) {#}
                                {#console.log(errorThrown);#}
                            {#}#}
                        {#});#}
                    {#});#}

                    $('.editGrilleTarifD3ELigneButton').on('click', function () {
                        id = $(this).data('id');
                        console.log(id);
                        $.ajax({
                            type: "GET",
                            url: "{{ path('paprec_catalog_grilleTarifD3E_editLigne', {id: grilleTarifD3E.id, ligneID: 'idLigneTmp'}) }}".replace('idLigneTmp', id),
                            contentType: "html",
                            success: function(response) {
                                // On récupère l'HTML du cart dans "Mon besoin" et on l'insère dans loadedCartPanel dans la sidebar
                                var htmlToDisplay = response.trim();
                                $("#grilleTarifD3ELigneModalContent").html(htmlToDisplay);
                            },
                            error: function (errorThrown) {
                                console.log(errorThrown);
                            }
                        })
                    });

                    $('.removeGrilleTarifD3ELigneButton').on('click', function () {
                        id = $(this).data('id');
                        bootbox.confirm("{{ 'Catalog.GrilleTarifLigneD3E.Confirm-remove'|trans }}", function (result) {
                            if (result === true) {
                                var url = "{{ path("paprec_catalog_grilleTarifD3E_removeLigne", {id: grilleTarifD3E.id, ligneID: 'ligneTmp'}) }}";
                                url = url.replace('ligneTmp', id);
                                $(location).attr('href', url);
                            }
                        });
                    })
                });


            </script>
        {% endblock %}
