<form id="formEditGrilleTarifLigneD3E" name="formEditGrilleTarifLigneD3E"
      action="{{ path("paprec_catalog_grilleTarifD3E_editLigne", {id: grilleTarifD3E.id, ligneID: grilleTarifLigneD3E.id}) }}"
      method="post">
    <div class="modal-header">
        <h5 class="modal-title" id="editLigneModalTitle">
            {{ 'Catalog.GrilleTarifLigneD3E.Edit'|trans }}
        </h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="form-label">{{ 'Catalog.GrilleTarifLigneD3E.PostalCodes'|trans }}</div>
            <div class="form-content">
                {{ form_widget(form.postalCodes, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.postalCodes) }}
            </div>
        </div>
        <div class="form-group">
            <div class="form-label">{{ 'Catalog.GrilleTarifLigneD3E.Agency'|trans }}</div>
            <div class="form-content">
                {{ form_widget(form.agency, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.agency) }}
            </div>
        </div>
        <div class="form-group">
            <div class="form-label">{{ 'Catalog.GrilleTarifLigneD3E.MinQuantity'|trans }}</div>
            <div class="form-content">
                {{ form_widget(form.minQuantity, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.minQuantity) }}
            </div>
        </div>
        <div class="form-group">
            <div class="form-label">{{ 'Catalog.GrilleTarifLigneD3E.MaxQuantity'|trans }}</div>
            <div class="form-content">
                {{ form_widget(form.maxQuantity, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.maxQuantity) }}
            </div>
        </div>
        <div class="form-group">
            <div class="form-label">{{ 'Catalog.GrilleTarifLigneD3E.Price'|trans }}</div>
            <div class="form-content">
                {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.price) }}
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary"
                data-dismiss="modal">
            {{ 'General.Cancel'|trans }}
        </button>
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-sm btn-success'}}) }}
    </div>
    {{ form_rest(form) }}
</form>