{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ 'Catalog.GrilleTarifD3E.Add'|trans }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content_title %}
    {{ 'Catalog.GrilleTarifD3E.GrilleTarifD3Es'|trans }}
{% endblock %}

{% block main_content %}

<form id="formEditGrilleTarifLigneD3E" name="formEditGrilleTarifLigneD3E"
      action="" method="post">
    <div class="col-md-12">
        <!-- BOX -->
        <div class="card">
            <div class="card-header">
                <h4>
                    <i class="fa fa-xs fa-plus"></i> {{ 'Catalog.GrilleTarifLigneD3E.Edit'|trans }}
                    <div class="float-right">
                        <a href="javascript:void(0);"
                           class="btn btn-sm btn-success catalog-grilleTarifD3ELine-save-button"><i
                                    class="fa fa-xs fa-check"></i> {{ 'Catalog.GrilleTarifD3E.Save'|trans }}</a>
                        <a href="javascript:void(0);"
                           class="btn btn-sm btn-danger catalog-grilleTarifD3ELine-cancel-button"><i
                                    class="fa fa-xs fa-close"></i> {{ 'Catalog.GrilleTarifD3E.Cancel'|trans }}</a>
                    </div>
                </h4>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-label">{{ 'Catalog.GrilleTarifLigneD3E.PostalCodes'|trans }}</div>
                        <div class="form-content">
                            {{ form_widget(form.postalCodes, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.postalCodes) }}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-label">{{ 'Catalog.GrilleTarifLigneD3E.Agency'|trans }}</div>
                        <div class="form-content">
                            {{ form_widget(form.agency, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.agency) }}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-label">{{ 'Catalog.GrilleTarifLigneD3E.MinQuantity'|trans }}</div>
                        <div class="form-content">
                            {{ form_widget(form.minQuantity, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.minQuantity) }}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-label">{{ 'Catalog.GrilleTarifLigneD3E.MaxQuantity'|trans }}</div>
                        <div class="form-content">
                            {{ form_widget(form.maxQuantity, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.maxQuantity) }}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">

                        <div class="form-label">{{ 'Catalog.GrilleTarifLigneD3E.Price'|trans }}</div>
                        <div class="form-content">
                            {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.price) }}
                        </div>
                    </div>
                </div>


            </div>
            <div class="card-footer">
                <div class="float-right">
                    <a href="javascript:void(0);"
                       class="btn btn-sm btn-success catalog-grilleTarifD3ELine-save-button"><i
                                class="fa fa-xs fa-check"></i> {{ 'Catalog.GrilleTarifD3E.Save'|trans }}</a>
                    <a href="javascript:void(0);"
                       class="btn btn-sm btn-danger catalog-grilleTarifD3ELine-cancel-button"><i
                                class="fa fa-xs fa-close"></i> {{ 'Catalog.GrilleTarifD3E.Cancel'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
</form>

{% endblock %}

{% block javascripts %}

    <script>
        $(function () {

            $('.catalog-grilleTarifD3ELine-save-button').on('click', function () {
                $('#formEditGrilleTarifLigneD3E').submit();
            });


            $('.catalog-grilleTarifD3ELine-cancel-button').on('click', function () {

                var url = "{{ path("paprec_catalog_grilleTarifD3E_view", {id: grilleTarifD3E.id}) }}";

                bootbox.confirm("{{ 'Catalog.GrilleTarifD3E.Confirm-cancel'|trans }}", function (result) {
                    if (result === true) {
                        $(location).attr('href', url);
                    }
                });

            });

        });
    </script>
{% endblock %}