{% extends "::base_public.html.twig" %}

{#{% block title %}#}

{#{% endblock %}#}

{#{% block stylesheets %}#}

{#{% endblock %}#}

{% block main_content %}
    <!-- section -->
    <section>
        <div class="wrapper">
            <div class="sidebar">
                <div class="recap passed">
                    <div class="recap__step">
                        <span class="recap__stepNumber">01</span>Mon besoin
                    </div>
                    <div id="loadedCartPanel">

                    </div>
                </div>

                <div class="recap passed">
                    <div class="recap__step">
                        <span class="recap__stepNumber">02</span>Mes coordonnées
                    </div>

                </div>

                <div class="recap active">
                    <div class="recap__step">
                        <span class="recap__stepNumber">03</span>Ma livraison
                    </div>

                </div>
                <div class="recap">
                    <div class="recap__step">
                        <span class="recap__stepNumber">04</span>Mon paiement
                    </div>

                </div>
                <div class="guide">
                    <div class="guide__title">
                        EASYRECYCLAGE,
                        <br>
                        C’EST SIMPLE ET RAPIDE
                    </div>
                    <div class="guide__step">
                        Sélectionnez
                        <br>
                        vos déchets
                    </div>
                    <div class="guide__step">
                        Validez
                        <br>
                        votre devis
                    </div>
                    <div class="guide__step">
                        Triez vos déchets,
                        <br>
                        nous les collectons
                        <br>
                        et les valorisons
                    </div>
                </div>
            </div>
            <div class="main">
                <form id="deliveryForm" action="" method="post" class="main">
                    <div class="step">
                        <div class="bold">
                            {% if productChantierOrder.civility == 'M' %}Monsieur{% else %}Madame{% endif %} {{ productChantierOrder.firstName }} {{ productChantierOrder.lastName }}
                            ,
                        </div>
                        <div class="recaptitle">Vous pouvez maintenant nous indiquer vos préférences de livraison.</div>
                        <div>
                            <div class="step__delivery">
                                <div class="title">
                                    Sélectionnez une date de pose
                                </div>
                                <div class="desc">
                                    Nous pouvons intervenir <span>à partir de 48h ouvrées</span> dès lors que vous
                                    passez votre commande.
                                </div>
                                {{ form_widget(form.installationDate, {'attr': {'class': 'input'}}) }}
                                {{ form_errors(form.installationDate) }}
                            </div>
                            <div class="step__delivery">
                                <div class="title">
                                    Sélectionnez une date d’enlèvement
                                </div>
                                <div class="desc">
                                    Vous ne pouvez garder votre matériel que <span>10 jours maximum</span>.
                                </div>
                                {{ form_widget(form.removalDate, {'attr': {'class': 'input'}}) }}
                                {{ form_errors(form.removalDate) }}
                            </div>
                            <div class="step__delivery">
                                <div class="title">
                                    Indiquez vos conditions d’accès
                                </div>
                                {{ form_widget(form.domainType, {'attr': {'class': 'input__radio'}}) }}
                                {{ form_errors(form.domainType) }}
                                <div class="clearfix"></div>
                                {{ form_widget(form.accessConditions, {'attr': {'class': 'input input--full input--bordered', 'rows': '10', 'placeholder': 'Commercial.ProductChantierOrder.AccessConditionsPlaceholder'|trans}}) }}
                                {{ form_errors(form.accessConditions) }}

                            </div>
                        </div>
                        <div class="notice">
                            Besoin d’une <span>information complémentaire</span> ? Vous souhaitez nous en parler ?
                        </div>
                        <div class="step__left">
                            <a href="#" class="back">Retour</a>
                        </div>
                        <div class="step__right">
                            <a href="{{ path('paprec_public_home_contactForm', {cartUuid: cart.id}) }}"
                               class="button button--grey">CONTACTEZ-NOUS</a>
                            <a href="{{ path('paprec_public_home_callBackForm', {cartUuid: cart.id }) }}"
                               class="button margint10 button--grey">ÊTRE RAPPELÉ</a>
                            <a href="javascript:void(0);" id="deliveryFormSubmitButton"
                               class="button margint10 button--green">VALIDER VOTRE COMMANDE</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    {{ form_rest(form) }}
                </form>
            </div>


            <div class="clearfix"></div>
        </div>
    </section>
    <!-- /section -->
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            reloadCart();
            $('body').addClass('tunnel--orange');


            /**
             * Gestion des datepickers
             */
            var now = new Date();
            // On définit arbitrairement la date maximum pour le rappel à dans 3 mois
            maxDate = moment(now);
            maxDate.add(3, 'months');
            $('#paprec_commercialbundle_productchantierorderdelivery_installationDate').datetimepicker({
                locale: 'fr',
                format: 'L',
                minDate: now,
                maxDate: maxDate,
                icons:
                    {
                        up: 'fa fa-angle-up',
                        down: 'fa fa-angle-down',
                        date: 'fa fa-calendar',
                        time: 'fa fa-clock',
                        next: 'fa fa-angle-right',
                        previous: 'fa fa-angle-left'
                    },
            });

            $('#paprec_commercialbundle_productchantierorderdelivery_removalDate').datetimepicker({
                locale: 'fr',
                format: 'L',
                minDate: now,
                maxDate: maxDate,
                icons:
                    {
                        up: 'fa fa-angle-up',
                        down: 'fa fa-angle-down',
                        date: 'fa fa-calendar',
                        time: 'fa fa-clock',
                        next: 'fa fa-angle-right',
                        previous: 'fa fa-angle-left'
                    },
            });

            $('#deliveryFormSubmitButton').on('click', function () {
                // avant de submit, on convertit la date au format yyyy-mm-dd
                $('#paprec_commercialbundle_productchantierorderdelivery_installationDate').val($('#paprec_commercialbundle_productchantierorderdelivery_installationDate').val().split('/').reverse().join('-'));
                $('#paprec_commercialbundle_productchantierorderdelivery_removalDate').val($('#paprec_commercialbundle_productchantierorderdelivery_removalDate').val().split('/').reverse().join('-'));

                $('#deliveryForm').submit();
            });

            // Rechargement de l'HTML du Cart
            function reloadCart() {
                $.ajax({
                    type: "GET",
                    url: "{{ path('paprec_public_corp_Chantier_subscription_loadCart', {cartUuid: cart.id}) }}",
                    contentType: "html",
                    success: function (response) {
                        // On récupère l'HTML du cart dans "Mon besoin" et on l'insère dans loadedCartPanel dans la sidebar
                        var htmlToDisplay = response.trim();
                        $("#loadedCartPanel").html(htmlToDisplay);
                        //on supprime les croix dans le panier
                        $('.buttonDeleteProduct').remove();
                    },
                    error: function (errorThrown) {
                        console.log(errorThrown);
                    }
                });
            }
        });
    </script>

{% endblock %}