{% extends "@PaprecPublic/Common/Base/base_stepper.html.twig" %}

{#{% block title %}#}

{#{% endblock %}#}

{#{% block stylesheets %}#}

{#{% endblock %}#}
{% block whoare %}
{% endblock %}

{% block sidebar %}
    <div class="chantier-delivery-form delivery-form"></div>
    {# Définition des menus affichés dans la sidebar #}
    {% set besoin = 'passed' %}
    {% set coordonnees = 'passed' %}
    {% set livraison = 'active' %}
    {% set paiement = '' %}
    {{ parent() }}
{% endblock %}
{% block main_content_stepper %}
    <form id="deliveryForm" action="" method="post">
        <input type="hidden" id="divisionType" value="{{ cart.division }}">
        <div class="step">
            <div class="bold">
                {% if productChantierOrder.civility == 'M' %}Monsieur{% else %}Madame{% endif %} {{ productChantierOrder.firstName }} {{ productChantierOrder.lastName }}
                ,
            </div>
            <div class="recaptitle">Vous pouvez maintenant nous indiquer vos préférences de livraison.</div>
            <div>
                <div class="step__delivery">
                    <div class="title">
                        Sélectionnez une date de pose
                    </div>
                    <div class="desc">
                        Nous pouvons intervenir <span>à partir de 48h ouvrées</span> dès lors que vous
                        passez votre commande.
                    </div>
                    {{ form_widget(form.installationDate, {'attr': {'class': 'input'}}) }}
                    {{ form_errors(form.installationDate) }}
                </div>
                <div class="step__delivery">
                    <div class="title">
                        Sélectionnez une date d'enlèvement
                    </div>
                    <div class="desc">
                        Vous ne pouvez garder votre matériel que <span>10 jours maximum</span>.
                    </div>
                    {{ form_widget(form.removalDate, {'attr': {'class': 'input'}}) }}
                    {{ form_errors(form.removalDate) }}
                </div>
                <div class="step__delivery">
                    <div class="title">
                        Indiquez vos conditions d'accès
                    </div>
                    {{ form_widget(form.domainType, {'attr': {'class': 'input__radio'}}) }}
                    {{ form_errors(form.domainType) }}
                    <div class="clearfix"></div>
                    {{ form_widget(form.accessConditions, {'attr': {'class': 'input input--full input--bordered', 'rows': '10', 'placeholder': 'Commercial.ProductChantierOrder.AccessConditionsPlaceholder'|trans}}) }}
                    {{ form_errors(form.accessConditions) }}

                </div>
            </div>
            {{ render(controller('PaprecPublicBundle:Common:getCTAsBottom', {
                'label': cart.type == 'quote' ? 'AccessYourOffer' : 'GoToDelivery',
                'cartUuid': cart.id,
                'division': cart.division,
                'stepBack': 'step2',
                'nextStep': 'step5',
                'idSubmit': 'deliveryFormSubmitButton'
            })) }}
        </div>
        {{ form_rest(form) }}
    </form>
{% endblock %}

{% block javascripts %}

{% endblock %}