<div class="recap__title">Mes prestations</div>
<div class="recap__cart">
    {% if loadedCart and loadedCart is not empty %}

        {% if loadedCart['sum'] == '0' %}
            {{ 'Public.Cart.NoProduct'|trans }}
        {% else %}
            {% for key,cartLine in loadedCart %}
                {% if key != 'sum' %}
                    <div class="recap__item">

                        <div class="quantity">x {{ cartLine['qtty'] }}</div>
                        <div class="title">{{ cartLine['pName'] }}</div>
                        <div class="delete buttonDeleteProduct" id="buttonDeleteProduct_{{ key }}"></div>
                        <div class="info">
                            • {% if cartLine['frequency'] == 'ponctual' %}{{ 'Public.Cart.Ponctal'|trans }}{% else %}{{ 'Public.Cart.Regular'|trans }}{% endif %}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}

    <div class="recap__price">
        <div class="left">
            Forfait
            <br>
            recyclage*
        </div>
        <div class="right">
            <br>
            <span>
                {% if loadedCart and loadedCart is not empty %}{{ loadedCart['sum'] }}{% else %}0{% endif %}€
            </span> HT
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="recap__info">
    *comprend la mise à disposition du
    matériel, la collecte et le traitement
    en centre de tri
</div>