{% extends "@PaprecCommercial/Common/emails/base_email.html.twig" %}

 {% block picto_header %}
     <a href="{{ paprec_public_site_url }}" target="_blank">
         {#<img alt="Logo" src="{{ absolute_url('build/static/logo.png') }}"  width="100px" height="100px" style="display: block; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-size: 16px;" border="0">#}
         LOGO
     </a>
 {% endblock %}

{% block title_header %}
    Votre devis pour traitement des déchets non dangereux
{% endblock %}

{% block subtitle_header %}
    Devis Chantier - N° {{ productChantierQuote.id }}
{% endblock %}

{% block main_content %}
    <tr>
        <td>
            {% if productChantierQuote.civility == 'M' %}Monsieur{% else %}Madame{% endif %} {{ productChantierQuote.firstName }} {{ productChantierQuote.lastName }}
        </td>
    </tr>
    <tr>
        <td>
            Voici ci-joint le devis que vous avez réalisé le {{ productChantierQuote.dateCreation|localizeddate('full', 'none', app.request.locale) }}.
            <br>
            Cordialement
            <br>
            L'équipe Paprec - EasyRecyclage
            <br>
            <a href="www.easyrecyclage.com">www.easyrecyclage.com</a>
            <br>
            <a href="#">Découvrez nos équipements</a>
            <a href="#">Trouvez une agence</a>
        </td>
    </tr>
{% endblock %}

{% block footer %}
    <tr>
        <td>
            Logo Paprec
        </td>
        <td>
            Retrouvez-nous
        </td>
        <td>
            Logos réseaux
        </td>
    </tr>
{% endblock %}

{% block sub_footer %}
    <tr>
        <td>
            Cet email est un message automatique, veuillez ne pas y répondre.
        </td>
    </tr>
    <tr>
        <td>
            © 2018 Paprec Group
        </td>
    </tr>
{% endblock %}

