<div class="recap__title">Mes prestations</div>
<div class="recap__cart">
    {% if loadedCart and loadedCart is not empty %}
        {% if loadedCart['sum'] == '0' %}
            <span class="noproduct">{{ 'Public.Cart.NoProduct'|trans }}<br>{{  'Public.Cart.Added'|trans }}</span>
        {% else %}
            {% for key,cartLine in loadedCart %}
                {% if key != 'sum' %}
                    <div class="recap__item">

                        <div class="quantity">x{{ cartLine['qtty'] }}</div>
                        <div class="title">{{ cartLine['pName'] }}
                            • {% autoescape false %} {{ cartLine['pCapacity'] }} {% endautoescape %}</div>
                        <div class="delete buttonDeleteProduct" id="buttonDeleteProduct_{{ key }}"
                             data-url="{{ path('paprec_public_corp_di_subscription_removeContent', {cartUuid: cartUuid, categoryId: 'categoryTmp', productId: 'productTmp'}) }}"></div>
                        <div class="info">{{ cartLine['cName'] }}
                            • {% if cartLine['frequency'] == 'ponctual' %}{{ 'Public.Cart.Ponctual'|trans }}{% else %}{{ 'Public.Cart.Regular'|trans }}{% endif %}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}

    <div class="recap__price">
        <div class="left">
            {{ 'Public.Cart.ForfaitRecyclage'|trans|nl2br }}
        </div>
        <div class="right">
            {{ 'Public.Cart.From'|trans }}
            <span>
                {% if loadedCart and loadedCart is not empty %}{{ loadedCart['sum']|formatAmount(null, app.request.locale) }}{% else %}0{% endif %}€
            </span> HT
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="recap__info">
    {{ 'Public.Cart.Including'|trans|nl2br }}
</div>
