{% extends "@PaprecPublic/Common/Base/base_stepper.html.twig" %}

{#{% block title %}#}

{#{% endblock %}#}

{#{% block stylesheets %}#}

{#{% endblock %}#}

 {% block top_msg_customizable_area %}
     {% set customArea = paprec_customizable_area('groupe_top_msg') %}
     {% if customArea is not null %}
         {% autoescape false %}
             <div class="custom-area__top wrapper-top">
                 <div class="righter wrapper">
                     <div class="custom-area__top__msg">
                         {{ customArea.content }}
                     </div>
                 </div>
             </div>
         {% endautoescape %}
     {% endif %}
 {% endblock %}

{% block sidebar %}
    <div class="nonCorporate-form groupe-reseau-form"></div>
    {# Définition des menus affichés dans la sidebar #}
    {% set besoin = 'active' %}
    {% set confirmation = '' %}
    {{ parent() }}
{% endblock %}

{% block main_content_stepper %}
    <form id="regularForm" action="#" method="post" enctype="multipart/form-data">
        <div class="step step--index">
            <div class="step__left">
                <div class="step__title">{{ 'Public.Home.Location'|trans }}</div>
            </div>
            <div class="step__right step__right--small">
                <div class="form-float-group">
                    <input class="input input--full form-float-control" type="text"
                           id="locationSelect" autocomplete="off"
                           placeholder="placeholder">
                    <label class="form-float-control-placeholder"
                           for="locationSelect">{{ 'Commercial.QuoteRequestNonCorporate.PostalCode'|trans }}</label>
                    {{ form_errors(form.postalCode) }}
                </div>
            </div>
        </div>
        <div class="step step--index">
            <div class="step__left">
                <div class="step__title">{{ 'Public.Home.IAm'|trans }}</div>
            </div>
            <div class="step__right step__right--small">
                <div class="form-float-group">
                    {{ form_widget(form.businessName, {'id': 'business_name_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder':'placeholder'}}) }}
                    <label class="form-float-control-placeholder"
                           for="business_name_input">{{ 'Commercial.QuoteRequestNonCorporate.BusinessName'|trans }}</label>
                    {{ form_errors(form.businessName) }}
                </div>

                <div class="form-float-group">
                    {{ form_widget(form.locationsNumber, {'id': 'locations_number_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'placeholder'}}) }}
                    <label class="form-float-control-placeholder"
                           for="locations_number_input">{{ 'Commercial.QuoteRequestNonCorporate.LocationsNumber'|trans }}</label>
                    {{ form_errors(form.locationsNumber) }}
                </div>

                <div class="form-float-group">
                    {{ form_widget(form.concernedRegion, {'id': 'concerned_regions_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'placeholder'}}) }}
                    <label class="form-float-control-placeholder"
                           for="concerned_regions_input">{{ 'Commercial.QuoteRequestNonCorporate.ConcernedRegion'|trans }}</label>
                    {{ form_errors(form.concernedRegion) }}
                </div>

                {{ form_widget(form.civility, {'attr': {'class': 'input--radio'}}) }}
                {{ form_errors(form.civility) }}

                <div class="clearfix step--marginfield"></div>

                <div class="flex space-between">
                    <div class="form-float-group form-float-group--mid">
                        {{ form_widget(form.lastName, {'id': 'last_name_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.QuoteRequest.LastName'|trans}}) }}
                        <label class="form-float-control-placeholder"
                               for="last_name_input">{{ 'Commercial.QuoteRequestNonCorporate.LastName'|trans }}</label>
                        {{ form_errors(form.lastName) }}
                    </div>

                    <div class="form-float-group form-float-group--mid">
                        {{ form_widget(form.firstName, {'id': 'first_name_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.QuoteRequest.FirstName'|trans}}) }}
                        <label class="form-float-control-placeholder"
                               for="first_name_input">{{ 'Commercial.QuoteRequestNonCorporate.FirstName'|trans }}</label>
                        {{ form_errors(form.firstName) }}
                    </div>
                </div>

                <div class="form-float-group">
                    {{ form_widget(form.email, {'id': 'email_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.QuoteRequest.Email'|trans}}) }}
                    <label class="form-float-control-placeholder"
                           for="email_input">{{ 'Commercial.QuoteRequestNonCorporate.Email'|trans }}</label>
                    {{ form_errors(form.email) }}
                </div>

                <div class="form-float-group">
                    {{ form_widget(form.phone, {'id': 'phone_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.QuoteRequest.PhonePlaceholder'|trans}}) }}
                    <label class="form-float-control-placeholder"
                           for="phone_input">{{ 'Commercial.QuoteRequestNonCorporate.PhonePlaceholder'|trans }}</label>
                    {{ form_errors(form.phone) }}
                </div>

                <div class="form-float-group">
                    {{ form_widget(form.function, {'id': 'function_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.QuoteRequest.FunctionPlaceholder'|trans}}) }}
                    <label class="form-float-control-placeholder"
                           for="function_input">{{ 'Commercial.QuoteRequestNonCorporate.FunctionPlaceholder'|trans }}</label>
                    {{ form_errors(form.function) }}
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="step step--index">
            <div class="step__left">
                <div class="step__title">{{ 'Public.Home.MyNeed'|trans }}</div>
            </div>
            <div class="step__right step__right--small">
                <div class="form-float-group">
                    {{ form_widget(form.need, {'id': 'need_input', 'attr': {'class': 'input input--full input--bordered form-float-control', 'placeholder': 'Commercial.QuoteRequest.NeedPlaceholder'|trans}}) }}
                    <label class="form-float-control-placeholder"
                           for="need_input">{{ 'Commercial.QuoteRequestNonCorporate.NeedPlaceholder'|trans }}</label>
                    {{ form_errors(form.need) }}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="step">
            <div class="notice">{{ 'Public.Home.FileUploadNotice'|trans }}
            </div>
            <br>
            <div data-url="{{ oneup_uploader_endpoint('gallery') }}"
                 data-deleted="{{ path('paprec_public_home_remove_uploaded_file') }}"
                 data-dir="null"
                 id="dropzone"
                 class="paprec-list-files">
            </div>
            <input type="hidden" id="dir-input" name="dirInput">

            <label id="dropzone-label" for="dropzone" class="button button--bordered">TÉLÉCHARGER DES PIÈCES JOINTES OU DES PHOTOS</label>
            <div class="clearfix"></div>

            <a href="javascript:void(0);" id="groupFormSubmitButton" class="button button--green button--darkblue">
                {{ ('Public.Cart.SendNeed'|trans)|upper }}
            </a>
        </div>
        {{ form_rest(form) }}

    </form>
{% endblock %}

{% block bottom_customizable_area %}
    {% set customArea = paprec_customizable_area('reassurance_banner_default') %}
    {% if customArea is not null %}
        {% autoescape false %}
            {{ customArea.content }}
        {% endautoescape %}
    {% endif %}

    {% set customAreaLogo = paprec_customizable_area('logo_banner_default') %}
    {% if customAreaLogo is not null %}
        {% autoescape false %}
            {{ customAreaLogo.content }}
        {% endautoescape %}
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&key={{ paprec_google_api_key }}">
    </script>
{% endblock %}
