{% extends "::base_public.html.twig" %}

{#{% block title %}#}

{#{% endblock %}#}

{#{% block stylesheets %}#}

{#{% endblock %}#}

{% block main_content %}
    <section>
        <div class="wrapper">
            <div class="sidebar">
                <div class="recap active">
                    <div class="recap__step">
                        <span class="recap__stepNumber">01</span>Mon besoin
                    </div>
                    <div id="loadedCartPanel">

                    </div>
                </div>

                <div class="recap">
                    <div class="recap__step">
                        <span class="recap__stepNumber">02</span>Mes coordonnées
                    </div>

                </div>
                {% if cart.type == 'quote' %}
                    <div class="recap">
                        <div class="recap__step">
                            <span class="recap__stepNumber">03</span>Mon offre
                        </div>

                    </div>
                {% else %}
                    <div class="recap">
                        <div class="recap__step">
                            <span class="recap__stepNumber">03</span>Ma livraison
                        </div>

                    </div>
                    <div class="recap">
                        <div class="recap__step">
                            <span class="recap__stepNumber">04</span>Mon paiement
                        </div>

                    </div>
                {% endif %}
                <div class="guide">
                    <div class="guide__title">
                        EASYRECYCLAGE,
                        <br>
                        C’EST SIMPLE ET RAPIDE
                    </div>
                    <div class="guide__step">
                        Sélectionnez
                        <br>
                        vos déchets
                    </div>
                    <div class="guide__step">
                        Validez
                        <br>
                        votre devis
                    </div>
                    <div class="guide__step">
                        Triez vos déchets,
                        <br>
                        nous les collectons
                        <br>
                        et les valorisons
                    </div>
                </div>
            </div>

            <form action="#" class="main">
                <div class="step">
                    <div class="step__left">
                        <div class="step__title">{{ 'Public.Home.Location'|trans }}</div>
                    </div>
                    <div class="step__right">
                        <input class="input" type="text" name="locationSelect"
                               id="locationSelect" {% if cart.location and cart.location != '' %} value="{{ cart.location }}"{% endif %}>
                    </div>
                    <div class="step__agency">

                    </div>
                </div>
                <div class="step">
                    <div class="step__left">
                        <div class="step__title">{{ 'Public.Home.Recycle'|trans }}</div>
                    </div>
                    <div class="step__right">
                        <select class="input" id="divisionSelect"
                                data-url="{{ path('paprec_public_corp_home_addDivision', {cartUuid: cart.id , division: 'divisionTmp'}) }}">
                            <option disabled selected value> {{ 'Public.Cart.ChooseTrash'|trans }} </option>
                            {% for key,division in divisions %}
                                {% if key == cart.division %}
                                    <option value="{{ key }}" selected="selected" style="color:{% if key == 'DI' %}#95c220{% elseif key == 'CHANTIER' %}#e59437{% else %}#b8369a{% endif %};">{{ division }}</option>
                                {% else %}
                                    <option value="{{ key }}" style="color:{% if key == 'DI' %} }}#95c220{% elseif key == 'CHANTIER' %}#e59437{% else %}#b8369a{% endif %};">{{ division }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <br>
                        <div id="frequencyRadioBox"
                             data-url="{{ path('paprec_public_corp_home_addFrequency', {cartUuid: cart.id, frequency: 'frequencyTmp' }) }}">
                            <input class="input__radio" type="radio" id="ponctualRadio" name="frequencyRadio"
                                   value="ponctual" {% if cart.frequency == 'ponctual' %}checked{% endif %}>
                            <label for="ponctualRadio">{{ 'Public.Cart.Ponctal'|trans }}</label>

                            <input class="input__radio" type="radio" id="regularRadio" name="frequencyRadio"
                                   value="regular" {% if cart.frequency == 'regular' %}checked{% endif %}>
                            <label for="regularRadio">{{ 'Public.Cart.Regular'|trans }}</label>
                        </div>
                        <div class="clearfix"></div>
                        <a class="button button--grey"
                           href="{{ path('paprec_public_corp_D3E_subscription_setOrder', {cartUuid: cart.id}) }}">{{ 'Public.Cart.3MinOrder'|trans }}</a>
                        <a class="button button--grey"
                           href="{{ path('paprec_public_corp_D3E_subscription_setQuote', {cartUuid: cart.id}) }}">{{ 'Public.Cart.QuoteRequest'|trans }}</a>
                    </div>
                </div>
                <div class="step">
                    <div class="step__left">
                        <div class="step__title">
                            Mes prestations
                        </div>
                    </div>
                    <div class="step__right">
                        {% set cpt = 5 %}
                        {% set displayedProduct = "" %}
                        {# On parcourt la liste des produits D3E #}
                        {% for product in products %}
                            {% if (cpt%5 == 0) %}
                                <div class="first-row">
                            {% endif %}
                            {% if product.id in cart.displayedProducts %}
                                {% set displayedProduct = product %}
                            {% endif %}
                            <div class="checkboxPicto productCheckboxPicto {% if product.id in cart.displayedProducts %}  active {% endif %}"
                                 id="productCheckboxPicto_{{ product.id }}"
                                 style="{% if product.pictos %}background-image: url({{ asset('/uploads/pictos/' ~ product.pictos[0].path) }}) {% endif %}">
                                {{ product.name }}
                                {% for items in cart.content %}
                                    {% if items['pId'] == product.id %}
                                        <span class="number">{{ items['qtty'] }}</span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% set cpt = cpt + 1 %}

                            {% if ((cpt%5 == 0) and (cpt > 5)) or loop.last %}
                                </div>
                                {% if cart.displayedProducts and displayedProduct != '' %}
                                    <div class="infoproduct">
                                        <div class="left">
                                            {{ displayedProduct.description }}

                                        </div>
                                        <div class="right">
                                            <div class="infoproduct__close"
                                                 data-url="{{ path('paprec_public_corp_D3E_subscription_addOrRemoveDisplayedProduct', {cartUuid: cart.id, productId: displayedProduct.id}) }}"
                                                 id="infoProductClose_{{ displayedProduct.id }}"></div>
                                            <div class="infoproduct__title">
                                                QUANTIFIEZ VOTRE BESOIN
                                            </div>

                                            <div class="clearfix"></div>

                                            {% set qtty = '' %}
                                            {% for items in cart.content %}
                                                {% if items['pId'] == displayedProduct.id %}
                                                    {% set qtty = items['qtty'] %}
                                                {% endif %}
                                            {% endfor %}
                                            <div class="infoproduct__qtytitle">{{ 'Public.Cart.Qtty'|trans }}</div>

                                            <select name=""
                                                    id="quantityProducSelect_{{ displayedProduct.id }}"
                                                    class="infoproduct__qty">
                                                {% for i in 1..10 %}
                                                    {% if i == qtty %}
                                                        <option value="{{ i }}"
                                                                selected="selected">{{ i }}</option>
                                                    {% else %}
                                                        <option value="{{ i }}">{{ i }}</option>

                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                            <div class="button button--lightgreen addToCartSubmitButton"
                                                 id="addToCartSubmitButton_{{ displayedProduct.id }}">{{ 'Public.Cart.AddToCart'|trans }}
                                            </div>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    {% set displayedProduct = '' %}
                                {% endif %}
                                <div class="clearfix"></div>
                            {% endif %}
                        {% endfor %}


                        <div class="clearfix"></div>

                        <a href="{{ path('paprec_public_home_contactForm', {cartUuid: cart.id}) }}"
                           class="button button--grey">CONTACTEZ-NOUS</a>
                        <a href="{{ path('paprec_public_home_callBackForm', {cartUuid: cart.id }) }}"
                           class="button margint10 button--grey">ÊTRE RAPPELÉ</a>
                        <a href="{{ path('paprec_public_corp_D3E_subscription_step2', {cartUuid: cart.id}) }}"
                           class="button button--green">Valider votre besoin
                        </a>
                    </div>

                </div>
            </form>


        </div>

        <div class="clearfix"></div>
    </section>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&key={{ paprec_google_api_key }}">
    </script>
    <script>
        $(function () {

            reloadCart();
            loadedPage();
            reloadNearbyAgencies()

            function initializeAutocomplete(id) {
                var element = document.getElementById(id);
                var options = {
                    types: ['(regions)'],
                    componentRestrictions: {country: "fr"}
                };
                if (element) {
                    var autocomplete = new google.maps.places.Autocomplete(element, options);
                    google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
                }
            }

            // Fonction appelée lorsque l'on choisit une proposition de l'autocomplete Google
            function onPlaceChanged() {
                var loc = $('#locationSelect').val();
                // On init les variables car si un champ manque, on se retrouve avec city/%20/long dans l'url et non city//long
                var place = this.getPlace();
                var city = " ";
                var postalCode = " ";
                var long = " ";
                var lat = " ";
                lat = place.geometry.location.lat();
                long = place.geometry.location.lng();
                for (var i in place.address_components) {
                    var component = place.address_components[i];
                    for (var j in component.types) {  // Some types are ["country", "political"]
                        if (component.types[j] === 'postal_code') {
                            postalCode = component.long_name;
                        }
                        if (component.types[j] === 'locality') {
                            city = component.long_name;
                        }
                    }
                }
                {% autoescape'js' %}
                url = "{{ path('paprec_public_corp_home_addLocation', {cartUuid: cart.id, location: 'locationTmp', city: 'cityTmp', postalCode: 'postalCodeTmp', long: 'longTmp', lat:'latTmp' }) }}"
                    .replace('locationTmp', loc)
                    .replace('cityTmp', city)
                    .replace('postalCodeTmp', postalCode)
                    .replace('longTmp', long)
                    .replace('latTmp', lat);
                {% endautoescape %}
                $(location).attr('href', url);
            }


            // google.maps.event.addDomListener(window, 'load', function () {
            // Si l'on met ce listener, l'autocomplete est initialisé 1fois/1000
            initializeAutocomplete('locationSelect');

            {# Quand on sélectionne une division dans le select, on recharge en envoyant la location et la division #}
            $("#divisionSelect").on('change', function () {
                {% autoescape'js' %}
                url = $(this).data('url').replace('divisionTmp', this.value);
                {% endautoescape %}

                $(location).attr('href', url);
            });

            {# Quand on sélectionne une frequence dans les radioButtons, on recharge la page en envoyant la location, division, frequence#}
            {# cela na nous faire naviguer vers le SubscriptionController de la division choisie #}
            $('#frequencyRadioBox').change(function () {
                frequency = $("input[name='frequencyRadio']:checked").val();
                {% autoescape'js' %}
                url = $(this).data('url').replace('frequencyTmp', frequency);
                {% endautoescape %}
                $(location).attr('href', url);

            });

            // Au chargement, on applique au body la couleur de la division D3E
            function loadedPage() {
                $('body').addClass('tunnel--purple');

            }

            // Au clic sur la croix de l'infoproduct, on supprime le produit des displayedProduct
            $('.productCheckboxPicto').click(function () {
                //on récupère la fin de l'id contenant : productId
                productId = (this.id).replace('productCheckboxPicto_', '');
                addOrRemoveDisplayedProduct(productId);
            });

            // Au clic sur la croix de l'infoproduit, on l'ajoute où on la supprime du displayedProduct du cart
            $('.infoproduct__close').click(function () {
                //on récupère la fin de l'id contenant : productId
                productId = (this.id).replace('infoProductClose_', '').split('_', 2);
                addOrRemoveDisplayedProduct(productId);
            });

            function addOrRemoveDisplayedProduct(productId) {
                {% autoescape'js' %}
                url = "{{ path('paprec_public_corp_D3E_subscription_addOrRemoveDisplayedProduct', {cartUuid: cart.id, productId: 'productTmp'}) }}"
                    .replace('productTmp', productId);
                $(location).attr('href', url);
                {% endautoescape %}
            }


            $('.addToCartSubmitButton').click(function () {
                productId = (this.id).replace('addToCartSubmitButton_', '');
                qtty = $('#quantityProducSelect_' + productId).val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('paprec_public_corp_D3E_subscription_addContent', {cartUuid: cart.id, productId: 'productTmp', quantity: 'quantityTmp'}) }}"
                        .replace('productTmp', productId)
                        .replace('quantityTmp', qtty),
                    success: function (response) {
                        // Quand on ajoute un produit au devis, on referme l'affichage des infos du produit ajouté
                        // addOrRemoveDisplayedProduct(productId, categoryId);
                        removeBadge(productId);
                        $('#productCheckboxPicto_' + productId).prepend("<span class=\"number\">" + qtty + "<span");
                        reloadCart()
                    },
                    error: function (errorThrown) {
                        console.log(errorThrown);
                    }
                });
            });

            function removeBadge(productId) {
                $('#productCheckboxPicto_' + productId).find('span.number').remove();
            }

            // Rechargement de l'HTML du Cart
            function reloadCart() {
                $.ajax({
                    type: "GET",
                    url: "{{ path('paprec_public_corp_D3E_subscription_loadCart', {cartUuid: cart.id}) }}",
                    contentType: "html",
                    success: function (response) {
                        // On récupère l'HTML du cart dans "Mon besoin" et on l'insère dans loadedCartPanel dans la sidebar
                        var htmlToDisplay = response.trim();
                        $("#loadedCartPanel").html(htmlToDisplay);
                        // On ajoute un listener sur les "x" dans la liste des produits dans le Cart
                        $(".buttonDeleteProduct").click(function () {
                            productId = (this.id).replace('buttonDeleteProduct_', '');
                            $.ajax({
                                type: "GET",
                                dataType: "json",
                                url: "{{ path('paprec_public_corp_D3E_subscription_removeContent', {cartUuid: cart.id, productId: 'productTmp'}) }}"
                                    .replace('productTmp', productId),
                                success: function (response) {
                                    removeBadge(productId);
                                    reloadCart();
                                },
                                error: function (errorThrown) {
                                    console.log(errorThrown);
                                }
                            });
                        })
                    },
                    error: function (errorThrown) {
                        console.log(errorThrown);
                    }
                });
            }

                // Récupération du nombre d'agences proches
            function reloadNearbyAgencies() {
                $.ajax({
                    type: "GET",
                    url: "{{ path('paprec_public_corp_D3E_subscription_loadNearbyAgencies', {cartUuid: cart.id}) }}",
                    contentType: "html",
                    success: function (response) {
                        // On récupère l'HTML du cart dans "Mon besoin" et on l'insère dans loadedCartPanel dans la sidebar
                        var htmlToDisplay = response.trim();
                        $(".step__agency").html(htmlToDisplay);
                    },
                    error: function (errorThrown) {
                        console.log(errorThrown);
                    }
                });
            }
        });
    </script>

{% endblock %}