{% extends "@PaprecCommercial/Common/emails/base_email.html.twig" %}

 {% block picto_header %}
     <a href="{{ paprec_public_site_url }}" target="_blank">
         {#<img alt="Logo" src="{{ absolute_url('build/static/logo.png') }}"  width="100px" height="100px" style="display: block; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-size: 16px;" border="0">#}
         LOGO COURRIER
     </a>
 {% endblock %}

{% block title_header %}
    Vous avez une nouvelle demande
{% endblock %}

{% block subtitle_header %}
    Formulaire {{ quoteRequestNonCorporate.customerType }} - N° {{ quoteRequestNonCorporate.id }}
{% endblock %}

{% block main_content %}
    <tr>
        Détail de la demande N° {{ quoteRequestNonCorporate.id }}
        - {{ quoteRequestNonCorporate.dateCreation|date('d/m/Y H:i:s') }}
    </tr>
    {% if quoteRequestNonCorporate.businessName %}
        <tr>
            <td class="label">
                {{ 'Commercial.QuoteRequestNonCorporate.BusinessName'|trans }}
            </td>
            <td class="value">
                {{ quoteRequestNonCorporate.businessName }}
            </td>
        </tr>
    {% endif %}
    {% if quoteRequestNonCorporate.locationsNumber %}
        <tr>
            <td class="label">
                {{ 'Commercial.QuoteRequestNonCorporate.LocationsNumber'|trans }}
            </td>
            <td class="value">
                {{ quoteRequestNonCorporate.locationsNumber }}
            </td>
        </tr>
    {% endif %}
    <tr>
        <td class="label">
            {{ 'Commercial.QuoteRequestNonCorporate.Civility'|trans }}
        </td>
        <td class="value">
            {% if quoteRequestNonCorporate.civility == 'M' %}Monsieur{% else %}Madame{% endif %}
        </td>
    </tr>
    <tr>
        <td class="label">
            {{ 'Commercial.QuoteRequestNonCorporate.LastName'|trans }}
        </td>
        <td class="value">
            {{ quoteRequestNonCorporate.lastName }}
        </td>
    </tr>
    <tr>
        <td class="label">
            {{ 'Commercial.QuoteRequestNonCorporate.FirstName'|trans }}
        </td>
        <td class="value">
            {{ quoteRequestNonCorporate.firstName }}
        </td>
    </tr>
    <tr>
        <td class="label">
            {{ 'Commercial.QuoteRequestNonCorporate.PostalCode'|trans }}
        </td>
        <td class="value">
            {{ quoteRequestNonCorporate.postalCode }}
        </td>
    </tr>
    <tr>
        <td class="label">
            {{ 'Commercial.QuoteRequestNonCorporate.Email'|trans }}
        </td>
        <td class="value">
            {{ quoteRequestNonCorporate.email }}
        </td>
    </tr>
    <tr>
        <td class="label">
            {{ 'Commercial.QuoteRequestNonCorporate.Phone'|trans }}
        </td>
        <td class="value">
            {{ quoteRequestNonCorporate.phone }}
        </td>
    </tr>
    <tr>
        <td class="label">
            {{ 'Commercial.QuoteRequestNonCorporate.Need'|trans }}
        </td>
        <td class="value">
            {{ quoteRequestNonCorporate.need }}
        </td>
    </tr>
    <tr>
        <td class="label">
            {{ 'Commercial.QuoteRequestNonCorporate.AttachedFiles'|trans }}
        </td>
        <td class="value">
            {% if quoteRequestNonCorporate.attachedFiles %}
                <a href="{{ absolute_url(path('paprec_commercial_quoteRequestNonCorporate_downloadAttachedFiles', {id: quoteRequestNonCorporate.id})) }}">Pièces
                    jointes</a>
            {% endif %}
        </td>
    </tr>
{% endblock %}

{% block footer %}
    <tr>
        <td>
            Merci de répondre à cette demande sous 48h.
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ absolute_url(path("paprec_commercial_quoteRequestNonCorporate_edit", {id: quoteRequestNonCorporate.id})) }}">
                Mettre à jour le statut
            </a>
        </td>
    </tr>
{% endblock %}

{% block sub_footer %}
    <tr>
        <td>
            Cet email est un message automatique
        </td>
    </tr>
{% endblock %}

