{% extends "@PaprecCommercial/Common/emails/base_email.html.twig" %}

 {% block picto_header %}
     <a href="{{ paprec_public_site_url }}" target="_blank">
         {#<img alt="Logo" src="{{ absolute_url('build/static/logo.png') }}"  width="75px" height="75px" style="font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-size: 16px;" border="0">#}
         LOGO COURRIER
     </a>
 {% endblock %}

{% block title_header %}
    Votre devis pour prestation
{% endblock %}

{% block subtitle_header %}
    Formulaire  {{ quoteRequestNonCorporate.customerType }} - N° {{ quoteRequestNonCorporate.id|formatId(6) }}
{% endblock %}

{% block main_content %}
    <table border="0" cellpadding="8" cellspacing="0" width="60%"
           style="margin-left: 20%; text-align: center; color: {{ blue1 }}; font-weight: bold; margin-bottom: 15px;">

        <tr>
            <td>
                {% if quoteRequestNonCorporate.civility == 'M' %}Monsieur{% else %}Madame{% endif %} {{ quoteRequestNonCorporate.firstName }} {{ quoteRequestNonCorporate.lastName }}
                ,
            </td>
        </tr>
        <tr style="border-bottom: 1px solid rgba(55, 65, 131, 0.6);">
            <td>
                Nous vous remercions pour votre demande et de l'intérêt que vous nous
                portez.
            </td>
        </tr>
        <tr style="color: {{ green1 }}; border-bottom: 1px solid rgba(55, 65, 131, 0.6);">
            <td>
                Rappel de votre besoin :
                <br><br>
                &ldquo; {{ quoteRequestNonCorporate.need|nl2br }} &rdquo;
            </td>
        </tr>
        <tr>
            <td>
                Voici ci-joint le devis réalisé par nos équipes commerciales à partir des besoins que vous avez exprimés.
            </td>
        <tr>
            <td>
                Cordialement
                <br>
                L'équipe Paprec - EasyRecyclage
                <br>

                <a href="www.easyrecyclage.com">www.easyrecyclage.com</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#"><button class="btn btn-green" style="margin-right: 25px">Découvrez nos équipements</button></a>
                <a href="#"><button class="btn btn-blue">Trouvez une agence</button></a>
            </td>
        </tr>
    </table>
{% endblock %}

{% block footer %}
    <tr>
        <td>
            Logo Paprec
        </td>
        <td>
            Retrouvez-nous
        </td>
        <td>
            Logos réseaux
        </td>
    </tr>
{% endblock %}

{% block sub_footer %}
    <tr>
        <td>
            Cet email est un message automatique, veuillez ne pas y répondre.
        </td>
    </tr>
    <tr>
        <td>
            © 2018 Paprec Group
        </td>
    </tr>
{% endblock %}

