{% extends "@PaprecPublic/Common/Base/base_stepper.html.twig" %}

{#{% block title %}#}

{#{% endblock %}#}

{#{% block stylesheets %}#}

{#{% endblock %}#}

{% block sidebar %}
    <div class="contact-form"></div>
    {# Définition des menus affichés dans la sidebar #}
    {% set besoin = 'active' %}
    {% set confirmation = '' %}
    {{ parent() }}
{% endblock %}

{% block main_content_stepper %}
    <form id="contactForm" action="#" method="post" enctype="multipart/form-data">
        <div class="step">
            <div class="step__left">
                <div class="step__title">{{ 'Public.Home.IAm'|trans }}</div>
            </div>
            <div class="step__right step__right--small">
                <div class="form-float-group">
                    {{ form_widget(form.businessName, {'id': 'business_name_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder':'placeholder'}}) }}
                    <label class="form-float-control-placeholder"
                           for="business_name_input">{{ 'Commercial.ContactUs.BusinessName'|trans }}</label>
                    {{ form_errors(form.businessName) }}
                </div>

                {{ form_widget(form.civility, {'attr': {'class': 'input--radio'}}) }}
                {{ form_errors(form.civility) }}

                <div class="clearfix step--marginfield"></div>

                <div class="flex space-between">
                    <div class="form-float-group form-float-group--mid">
                        {{ form_widget(form.lastName, {'id': 'last_name_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.ContactUs.LastName'|trans}}) }}
                        <label class="form-float-control-placeholder"
                               for="last_name_input">{{ 'Commercial.ContactUs.LastName'|trans }}</label>
                        {{ form_errors(form.lastName) }}
                    </div>

                    <div class="form-float-group form-float-group--mid">
                        {{ form_widget(form.firstName, {'id': 'first_name_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.ContactUs.FirstName'|trans}}) }}
                        <label class="form-float-control-placeholder"
                               for="first_name_input">{{ 'Commercial.ContactUs.FirstName'|trans }}</label>
                        {{ form_errors(form.firstName) }}
                    </div>
                </div>

                <div class="form-float-group">
                    {{ form_widget(form.email, {'id': 'email_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.ContactUs.Email'|trans}}) }}
                    <label class="form-float-control-placeholder"
                           for="email_input">{{ 'Commercial.ContactUs.Email'|trans }}</label>
                    {{ form_errors(form.email) }}
                </div>

                <div class="form-float-group">
                    {{ form_widget(form.phone, {'id': 'phone_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.ContactUs.PhonePlaceholder'|trans}}) }}
                    <label class="form-float-control-placeholder"
                           for="phone_input">{{ 'Commercial.ContactUs.PhonePlaceholder'|trans }}</label>
                    {{ form_errors(form.phone) }}
                </div>

                <div class="form-float-group">
                    {{ form_widget(form.function, {'id': 'function_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.ContactUs.FunctionPlaceholder'|trans}}) }}
                    <label class="form-float-control-placeholder"
                           for="function_input">{{ 'Commercial.ContactUs.FunctionPlaceholder'|trans }}</label>
                    {{ form_errors(form.function) }}
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="step">
            <div class="step__left">
                <div class="step__title">{{ 'Public.Home.MyNeed'|trans }}</div>
            </div>
            <div class="step__right step__right--small">
                <div class="form-float-group">
                    {{ form_widget(form.need, {'id': 'need_input', 'attr': {'class': 'input input--full input--bordered form-float-control', 'placeholder': 'Commercial.ContactUs.NeedPlaceholder'|trans}}) }}
                    <label class="form-float-control-placeholder"
                           for="need_input">{{ 'Commercial.ContactUs.NeedPlaceholder'|trans }}</label>
                    {{ form_errors(form.need) }}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="step">
            <div class="notice">{{ 'Public.Home.FileUploadNotice'|trans }}
            </div>
            <br>
            <div data-url="{{ oneup_uploader_endpoint('gallery') }}"
                 data-deleted="{{ path('paprec_public_home_remove_uploaded_file') }}"
                 data-dir="null"
                 id="dropzone"
                 class="paprec-list-files">
            </div>
            <input type="hidden" id="dir-input" name="dirInput">

            <label id="dropzone-label" for="dropzone" class="button button--bordered">TÉLÉCHARGER DES PIÈCES JOINTES OU DES PHOTOS</label>
            <div class="clearfix"></div>

            <a href="javascript:void(0);" id="contactFormSubmitButton" class="button button--green">
                {{ ('Public.Cart.SendNeed'|trans)|upper }}
            </a>
        </div>
        {{ form_rest(form) }}

    </form>

{% endblock %}

{% block javascripts %}

{% endblock %}
