{% autoescape false %}
    <ul class="menu">
        {% for link in items %}
            <li class="menu-item menu-item-type-post_type menu-item-object-page {% if link['submenus'] and link['submenus']|length > 0 %}menu-item-has-children {% endif %}">
                <a href="{{ link['url'] }}">{{ link['title'] }}</a>
                {% if link['submenus']|length > 0 %}
                    <ul class="sub-menu">
                        {% for submenu in link['submenus'] %}
                            <li class="menu-item menu-item-type-custom menu-item-object-custom {% if submenu['submenus'] and submenu['submenus'].length > 0 %}menu-item-has-children {% endif %}">
                                <a href="{{ submenu['url'] }}">{{ submenu['title'] }}</a>
                                {% if submenu['submenus']|length > 0 %}
                                    <ul class="sub-menu">
                                        {% for subsubmenu in submenu['submenus'] %}
                                            <li>
                                                <a href="{{ subsubmenu['url'] }}">{{ subsubmenu['title'] }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endautoescape %}
