{% extends "@PaprecPublic/Common/Base/base_stepper.html.twig" %}

{#{% block title %}#}

{#{% endblock %}#}

{#{% block stylesheets %}#}

{#{% endblock %}#}

{% block whoare %}
    {% if cart and cart.type != 'package' %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block sidebar %}
    <div class="callBack-form"></div>
    {# Définition des menus affichés dans la sidebar #}
    {% set besoin = 'active' %}
    {% set confirmation = '' %}
    {{ parent() }}
{% endblock %}

{% block main_content_stepper %}
    <input type="hidden" id="divisionType" value="{{ cart.division }}">

    <form id="callBackForm" action="#" method="post" enctype="multipart/form-data">
        <div class="step">
            <div class="step__left">
                <div class="step__title">{{ 'Public.Home.IAm'|trans }}</div>
            </div>
            <div class="step__right step__right--small">
                <div class="form-float-group">
                    {{ form_widget(form.businessName, {'id': 'business_name_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder':'placeholder'}}) }}
                    <label class="form-float-control-placeholder"
                           for="business_name_input">{{ 'Commercial.CallBack.BusinessName'|trans }}</label>
                    {{ form_errors(form.businessName) }}
                </div>

                {{ form_widget(form.civility, {'attr': {'class': 'input--radio'}}) }}
                {{ form_errors(form.civility) }}

                <div class="clearfix step--marginfield"></div>

                <div class="flex space-between">
                    <div class="form-float-group form-float-group--mid">
                        {{ form_widget(form.lastName, {'id': 'last_name_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.CallBack.LastName'|trans}}) }}
                        <label class="form-float-control-placeholder"
                               for="last_name_input">{{ 'Commercial.CallBack.LastName'|trans }}</label>
                        {{ form_errors(form.lastName) }}
                    </div>

                    <div class="form-float-group form-float-group--mid">
                        {{ form_widget(form.firstName, {'id': 'first_name_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.CallBack.FirstName'|trans}}) }}
                        <label class="form-float-control-placeholder"
                               for="first_name_input">{{ 'Commercial.CallBack.FirstName'|trans }}</label>
                        {{ form_errors(form.firstName) }}
                    </div>
                </div>

                <div class="form-float-group">
                    {{ form_widget(form.email, {'id': 'email_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.CallBack.Email'|trans}}) }}
                    <label class="form-float-control-placeholder"
                           for="email_input">{{ 'Commercial.ContactUs.Email'|trans }}</label>
                    {{ form_errors(form.email) }}
                </div>

                <div class="form-float-group">
                    {{ form_widget(form.phone, {'id': 'phone_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.CallBack.PhonePlaceholder'|trans}}) }}
                    <label class="form-float-control-placeholder"
                           for="phone_input">{{ 'Commercial.CallBack.PhonePlaceholder'|trans }}</label>
                    {{ form_errors(form.phone) }}
                </div>

                <div class="form-float-group">
                    {{ form_widget(form.function, {'id': 'function_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.CallBack.FunctionPlaceholder'|trans}}) }}
                    <label class="form-float-control-placeholder"
                           for="function_input">{{ 'Commercial.CallBack.FunctionPlaceholder'|trans }}</label>
                    {{ form_errors(form.function) }}
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="step">
            <div class="step__left">
                <div class="step__title">Date et heure de rappel</div>
            </div>
            <div class="step__right step__right--small">
                <div class="flex space-between">
                    <div class="form-float-group form-float-group--mid">
                        {{ form_widget(form.timeCallBack, {'id': 'time_callback_input', 'attr': {'class': 'input input--full form-float-control', 'placeholder': 'Heure'}}) }}
                        <label class="form-float-control-placeholder"
                               for="time_callback_input">{{ 'Heure' }}</label>
                        {{ form_errors(form.timeCallBack) }}
                    </div>
                    <div class="form-float-group form-float-group--mid">
                        {{ form_widget(form.dateCallBack, {'id': 'date_callback_input', 'attr': {'class': 'input input--full form-float-control', 'placeholder': 'Date'}}) }}
                        <label class="form-float-control-placeholder"
                               for="date_callback_input">{{ 'Date'}}</label>
                        {{ form_errors(form.dateCallBack) }}
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <a href="javascript:void(0);" id="callBackFormSubmitButton" class="button button--green">
                {{ ('Public.Cart.SendNeed'|trans)|upper }}
            </a>
        </div>
        {{ form_rest(form) }}
    </form>
{% endblock %}

{% block javascripts %}

{% endblock %}
