{% extends "@PaprecCommercial/Common/emails/base_email.html.twig" %}

 {% block picto_header %}
     <a href="{{ paprec_public_site_url }}" target="_blank">
         {#<img alt="Logo" src="{{ absolute_url('build/static/logo.png') }}"  width="100px" height="100px" style="display: block; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-size: 16px;" border="0">#}
         LOGO
     </a>
 {% endblock %}

{% block title_header %}
    Merci pour votre demande de devis
{% endblock %}

{% block subtitle_header %}
    <button>Devis au format PDF</button>
{% endblock %}

{% block main_content %}
    <tr>
        Détail ddu devis N° {{ productDIQuote.id }} - {{ productDIQuote.dateCreation|date('d/m/Y H:i:s') }}
    </tr>
    <tr>
        <td class="label">
            {{ 'Commercial.ProductDIQuote.BusinessName'|trans }}
        </td>
        <td class="value">
            {{ productDIQuote.businessName }}
        </td>
    </tr>
    <tr>
        <td class="label">
            Contact
        </td>
        <td class="value">
            {% if productDIQuote.civility == 'M' %}Monsieur{% else %}Madame{% endif %} {{ productDIQuote.lastName }} {{ productDIQuote.firstName }}
        </td>
    </tr>
    <tr>
        <td class="label">
            {{ 'Commercial.ProductDIQuote.Function'|trans }}
        </td>
        <td class="value">
            {{ productDIQuote.function }}
        </td>
    </tr>
    <tr>
        <td class="label">
            {{ 'Commercial.ProductDIQuote.Address'|trans }}
        </td>
        <td class="value">
            {{ productDIQuote.address }}<br>
            {{ productDIQuote.postalCode }} {{ productDIQuote.city }}
        </td>
    </tr>
    <tr>
        <td class="label">
            {{ 'Commercial.ProductDIQuote.Email'|trans }}
        </td>
        <td class="value">
            {{ productDIQuote.email }}
        </td>
    </tr>
    <tr>
        <td class="label">
            {{ 'Commercial.ProductDIQuote.Phone'|trans }}
        </td>
        <td class="value">
            {{ productDIQuote.phone }}
        </td>
    </tr>
    {% for line in productDIQuote.productDIQuoteLines %}
        <tr>
            <td class="picto">
                img
            </td>
            <td class="product">
                {{ line.quantity }} x {{ line.productName }}<br>
                de {{ line.categoryName }}
            </td>
            <td class="price">
                à partir de {{ line.totalAmount|formatAmount('EUR', app.request.locale) }}
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td>
            TOTAL
        </td>
        <td>
            à partir de {{ productDIQuote.totalAmount|formatAmount('EUR', app.request.locale) }}
        </td>
    </tr>
{% endblock %}

{% block footer %}
    <tr>
        <td>
            L'agence en charge de votre demande vous recontactera sous 48h par e-mail ou téléphone afin de valider un devis.
        </td>
    </tr>
{% endblock %}

{% block sub_footer %}
    <tr>
        <td>
            Cet email est un message automatique, veuillez ne pas y répondre.
        </td>
    </tr>
    <tr>
        <td>
            © 2018 Paprec Group
        </td>
    </tr>
{% endblock %}

