{% extends "@PaprecCommercial/Common/emails/base_email.html.twig" %}

 {% block picto_header %}
     <a href="{{ paprec_public_site_url }}" target="_blank">
         {#<img alt="Logo" src="{{ absolute_url('build/static/logo.png') }}"  width="100px" height="100px" style="display: block; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-size: 16px;" border="0">#}
         LOGO
     </a>
 {% endblock %}

{% block title_header %}
    Nouveau devis pour déchets non dangereux (DI)
{% endblock %}

{% block subtitle_header %}
    Devis DI - N° {{ productDIQuote.id }}
{% endblock %}

{% block main_content %}
    <tr>
        Détail de la demande N° {{ productDIQuote.id }} - {{ productDIQuote.dateCreation|date('d/m/Y H:i:s') }}
    </tr>
    <tr>
        <td class="label">
            {{ 'Commercial.ProductDIQuote.BusinessName'|trans }}
        </td>
        <td class="value">
            {{ productDIQuote.businessName }}
        </td>
    </tr>
    <tr>
        <td class="label">
            {{ 'Commercial.ProductDIQuote.BusinessLine'|trans }}
        </td>
        <td class="value">
            {{ productDIQuote.businessLine.name }}
        </td>
    </tr>
    <tr>
        <td class="label">
            {{ 'Commercial.ProductDIQuote.Civility'|trans }}
        </td>
        <td class="value">
            {{ productDIQuote.civility }}
        </td>
    </tr>
    <tr>
        <td class="label">
            {{ 'Commercial.ProductDIQuote.LastName'|trans }}
        </td>
        <td class="value">
            {{ productDIQuote.lastName }}
        </td>
    </tr>
    <tr>
        <td class="label">
            {{ 'Commercial.ProductDIQuote.FirstName'|trans }}
        </td>
        <td class="value">
            {{ productDIQuote.firstName }}
        </td>
    </tr>
    <tr>
        <td class="label">
            {{ 'Commercial.ProductDIQuote.Function'|trans }}
        </td>
        <td class="value">
            {{ productDIQuote.function }}
        </td>
    </tr>
    <tr>
        <td class="label">
            {{ 'Commercial.ProductDIQuote.Email'|trans }}
        </td>
        <td class="value">
            {{ productDIQuote.email }}
        </td>
    </tr>
    <tr>
        <td class="label">
            {{ 'Commercial.ProductDIQuote.Phone'|trans }}
        </td>
        <td class="value">
            {{ productDIQuote.phone }}
        </td>
    </tr>
{% endblock %}

{% block footer %}
    <tr>
        <td>
            <a href="{{ absolute_url(path("paprec_commercial_productDIQuote_view", {id: productDIQuote.id})) }}">
                Consulter le devis
            </a>
        </td>
    </tr>
{% endblock %}

{% block sub_footer %}
    <tr>
        <td>
            Cet email est un message automatique
        </td>
    </tr>
{% endblock %}

