{% extends "@PaprecPublic/Common/Base/base_stepper.html.twig" %}

{#{% block title %}#}

{#{% endblock %}#}

{#{% block stylesheets %}#}

{#{% endblock %}#}
{% block whoare %}
{% endblock %}

{% block sidebar %}
    <div class="contact-details-form"></div>
    {# Définition des menus affichés dans la sidebar #}
    {% set besoin = 'passed' %}
    {% set coordonnees = 'active' %}
    {% set offre = '' %}
    {{ parent() }}
{% endblock %}

{% block main_content_stepper %}
    <form id="contactDetailsForm" action="" method="post">
        <input type="hidden" id="divisionType" value="{{ cart.division }}">
        <div class="step">
            <div class="step__left">
                <div class="step__title">{{ 'Public.Home.IAm'|trans }}</div>
            </div>
            <div class="step__right step__right--small">
                {{ form_widget(form.businessName, {'attr': {'class': 'input input--full step--marginfield', 'placeholder': 'Commercial.ProductDIQuote.BusinessName'|trans}}) }}
                {{ form_errors(form.businessName) }}

                {{ form_widget(form.businessLine, {'attr': {'class': 'input input--full'}}) }}
                {{ form_errors(form.businessLine) }}

                {{ form_widget(form.civility, {'attr': {'class': 'input--radio'}}) }}
                {{ form_errors(form.civility) }}

                <div class="clearfix step--marginfield"></div>

                {{ form_widget(form.lastName, {'attr': {'class': 'input input--mid step--marginfield', 'placeholder': 'Commercial.ProductDIQuote.LastName'|trans}}) }}
                {{ form_errors(form.lastName) }}

                {{ form_widget(form.firstName, {'attr': {'class': 'input input--mid step--marginfield', 'placeholder': 'Commercial.ProductDIQuote.FirstName'|trans}}) }}
                {{ form_errors(form.firstName) }}

                {{ form_widget(form.email, {'attr': {'class': 'input input--full step--marginfield', 'placeholder': 'Commercial.ProductDIQuote.Email'|trans}}) }}
                {{ form_errors(form.email) }}

                {{ form_widget(form.address, {'attr': {'class': 'input input--full step--marginfield', 'placeholder': 'Commercial.ProductDIQuote.Address'|trans}}) }}
                {{ form_errors(form.address) }}

                {{ form_widget(form.postalCode, {'attr': {'class': 'input input--zip step--marginfield', 'placeholder': 'Commercial.ProductDIQuote.PostalCode'|trans}}) }}
                {{ form_errors(form.postalCode) }}

                {{ form_widget(form.city, {'attr': {'class': 'input input--city step--marginfield', 'placeholder': 'Commercial.ProductDIQuote.City'|trans}}) }}
                {{ form_errors(form.city) }}

                {{ form_widget(form.phone, {'attr': {'class': 'input input--full step--marginfield', 'placeholder': 'Commercial.ProductDIQuote.PhonePlaceholder'|trans}}) }}
                {{ form_errors(form.phone) }}

                {{ form_widget(form.function, {'attr': {'class': 'input input--full step--marginfield', 'placeholder': 'Commercial.ProductDIQuote.FunctionPlaceholder'|trans}}) }}
                {{ form_errors(form.function) }}

                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>

            {{ render(controller('PaprecPublicBundle:Common:getCTAsBottom', {
                'label': 'Confirm',
                'cartUuid': cart.id,
                'division': cart.division,
                'stepBack': 'step1',
                'nextStep': 'step3',
                'idSubmit': 'contactDetailsFormSubmitButton'
            })) }}
        </div>
        {{ form_rest(form) }}
    </form>
{% endblock %}

{% block javascripts %}

{% endblock %}
