{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ 'Catalog.Category.Edit'|trans }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content_title %}
    {{ 'Catalog.Category.Categories'|trans }}
{% endblock %}

{% block main_content %}

    <form id="userUserForm" action="" method="post" enctype="multipart/form-data">

        <div class="col-md-7">
            <!-- BOX -->
            <div class="card">
                <div class="card-header">
                    <h4>
                        <i class="fa fa-pencil-alt"></i> {{ 'Catalog.Category.Edit'|trans }} #{{ category.id }}

                        <div class="float-right">

                            <a href="javascript:void(0);" class="btn btn-success catalog-category-save-button"><i
                                        class="fa fa-check"></i> {{ 'Catalog.Category.Save'|trans }}</a>
                            <a href="javascript:void(0);" class="btn btn-danger catalog-category-cancel-button"><i
                                        class="fa fa-close"></i> {{ 'Catalog.Category.Cancel'|trans }}</a>
                        </div>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{ 'Catalog.Category.Informations'|trans }}</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-item mb-2">
                                    <div class="form-label">{{ 'Catalog.Category.Picto'|trans }}</div>
                                    <div class="form-content">
                                        {{ form_widget(form.picto) }}
                                        {{ form_errors(form.picto) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-label">{{ 'Catalog.Category.Name'|trans }}</div>
                                    <div class="form-content">
                                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.name) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="form-label">{{ 'Catalog.Category.Description'|trans }}</div>
                                    <div class="form-content">
                                        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.description) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="form-label">{{ 'Catalog.Category.Enabled'|trans }}</div>
                                    <div class="form-content">
                                        {{ form_widget(form.enabled) }}
                                        {{ form_errors(form.enabled) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="form-label">{{ 'Catalog.Category.Division'|trans }}</div>
                                    <div class="form-content checkbox-list">
                                        {{ form_widget(form.division) }}
                                        {{ form_errors(form.division) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="form-label">{{ 'Catalog.Category.Position'|trans }}</div>
                                    <div class="form-content">
                                        {{ form_widget(form.position, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.position) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_rest(form) }}
                </div>
            </div>
            <div class="card-footer">
                <div class="float-right">
                    <a href="javascript:void(0);" class="btn btn-success catalog-category-save-button"><i
                                class="fa fa-check"></i> {{ 'User.User.Save'|trans }}</a>
                    <a href="javascript:void(0);" class="btn btn-danger catalog-category-cancel-button"><i
                                class="fa fa-close"></i> {{ 'User.User.Cancel'|trans }}</a>
                </div>
            </div>
        </div>
        </div>
    </form>



{% endblock %}

{% block javascripts %}

    <script>
        $(function () {

            $('.catalog-category-save-button').on('click', function () {

                $('#userUserForm').submit();

            });


            $('.catalog-category-cancel-button').on('click', function () {

                var url = "{{ path("paprec_catalog_category_view", {id: category.id}) }}";

                bootbox.confirm("{{ 'Catalog.Category.Confirm-cancel'|trans }}", function (result) {
                    if (result === true) {
                        $(location).attr('href', url);
                    }
                });

            });

        });
    </script>
{% endblock %}