{% extends "@PaprecCommercial/Common/PDF/base_pdf_quote_letter.html.twig" %}

{% block businessName %} {{ productChantierQuote.businessName|upper }} {% endblock %}

{% block address %} {{ productChantierQuote.address|upper }}{% endblock %}

{% block location %} {{ productChantierQuote.postalCode }} {{ productChantierQuote.city|upper }} {% endblock %}

{% block recipient %} {% if productChantierQuote.civility == 'M' %}Monsieur{% else %}Madame{% endif %} {{ productChantierQuote.firstName }} {{ productChantierQuote.lastName|upper }} {% endblock %}

{% block date %} {{ date|date('d/m/Y') }}, {% endblock %}

{% block quoteNumber %} {{ productChantierQuote.id|formatId(6) }}{% endblock %}

{% block letter_text %}
    <p style="line-height: 25px; margin: 20px; text-align: left;">
        {% if productChantierQuote.civility == 'M' %}Monsieur{% else %}Madame{% endif %},
    </p>
    <p style="line-height: 25px; margin: 20px; margin-top: 15px; margin-bottom: 0; text-align: justify">
        Nous vous remercions pour l’attention que vous avez bien voulu nous accorder et nous
        vous prions de trouver
        <nobr>ci-joint :</nobr>
    </p>
    <p style="line-height: 25px; margin: 20px; text-align: left; margin-top: 16px; margin-bottom: 0;">
        Notre proposition estimée pour la gestion de vos déchets.</p>
    <p style="line-height: 25px; margin: 20px; margin-top: 16px; margin-bottom: 0; text-align: justify;">
        Spécialisés dans le recyclage des déchets de chantiers, bénéficiant d’une logistique de
        pointe, notre but est d’apporter à votre entreprise la solution la plus avantageuse tant
        en termes d’efficacité que de coût.</p>
    <p style="line-height: 25px; margin: 20px; text-align: left; margin-top: 14px; margin-bottom: 0;">
        Nos offres de services sont en totale conformité avec la réglementation qui instaure
        :</p>
    <p style="line-height: 24px; margin: 20px; text-align: justify; padding-left: 61px; margin-top: 15px; margin-bottom: 0; text-indent: -24px;">
        -<span style="margin-left: 19px;line-height: 16px">De valoriser les déchets par recyclage </span>
        <nobr>, c’est-à-dire</nobr>
        l’emploi, recyclage ou toute autre action visant à obtenir à partir des déchets des
        matériaux réutilisables ou de l’énergie (loi relative à l’élimination des déchets et à
        la récupération des matériaux n°
        <nobr>92-646</nobr>
        du 13 juillet 1992 – Article
        <nobr>1<sup>er</sup>-1)</nobr>
    </p>
    <p style="line-height: 24px; margin: 20px; text-align: justify; padding-left: 61px; margin-top: 14px; margin-bottom: 0; text-indent: -24px;">
        -<span style="margin-left: 19px;line-height: 16px">L’obligation de valoriser les déchets d’emballage (cartons, palettes, housses, métaux, etc…) en les cédant par contrat à un tiers agréé (décret </span>
        <nobr>n°94-609</nobr>
        du 13 juillet 1994 relatif aux déchets d’emballages industriels).
    </p>
    <p style="line-height: 25px; margin: 20px; text-align: left; margin-top: 14px; margin-bottom: 0;">
        Nous vous proposons ainsi de diriger vos chutes de matières vers nos Centres de tri
        classés et agréés afin de les valoriser.</p>
    <p style="line-height: 25px; margin: 20px; text-align: left; margin-top: 15px; margin-bottom: 0">
        Veuillez
        croire, {% if productChantierQuote.civility == 'M' %}Monsieur{% else %}Madame{% endif %} {{ productChantierQuote.firstName }} {{ productChantierQuote.lastName|upper }}
        , en l’assurance de notre parfaite
        considération.</p>
{% endblock %}
