{% extends "@PaprecCommercial/Common/emails/base_email.html.twig" %}

 {% block picto_header %}
     <a href="{{ paprec_public_site_url }}" target="_blank">
         {#<img alt="Logo" src="{{ absolute_url('build/static/logo.png') }}"  width="100px" height="100px" style="display: block; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-size: 16px;" border="0">#}
         LOGO PHONE
     </a>
 {% endblock %}

{% block title_header %}
    Vous avez une nouvelle demande de rappel
{% endblock %}

{% block subtitle_header %}
    Formulaire Être rappelé - N° {{ callBack.id|formatId(6) }}
{% endblock %}

{% block main_content %}
    <table class="newRequestEmailTable" border="0" cellpadding="0" cellspacing="0" width="80%"
           style="margin-left: 10%; margin-bottom: 15px; margin-top: 20px;">
        <tr style="border-bottom: 1px solid rgba(0, 0, 0, 0.6);">
            <td>
                Détail de la demande N° {{ callBack.id|formatId(6) }}
                - {{ callBack.dateCreation|date('d/m/Y H:i') }}
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.CallBack.BusinessName'|trans }} : &nbsp;
                </div>
                <div class="value">
                    {{ callBack.businessName }}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.CallBack.Civility'|trans }} : &nbsp;
                </div>
                <div class="value">
                    {% if callBack.civility == 'M' %}Monsieur{% else %}Madame{% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.CallBack.LastName'|trans }} :&nbsp;
                </div>
                <div class="value">
                    {{ callBack.lastName }}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.CallBack.FirstName'|trans }} :&nbsp;
                </div>
                <div class="value">
                    {{ callBack.firstName }}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.CallBack.Function'|trans }} :&nbsp;
                </div>
                <div class="value">
                    {{ callBack.function }}
                </div>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.CallBack.Email'|trans }} :&nbsp;
                </div>
                <div class="value">
                    {{ callBack.email }}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    {{ 'Commercial.CallBack.Phone'|trans }} :&nbsp;
                </div>
                <div class="value">
                    {{ callBack.phone }}
                </div>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    Date de rappel souhaitée :&nbsp;
                </div>
                <div class="value">
                    {{ callBack.dateCallBack|localizeddate('full', 'none', app.request.locale) }}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="label">
                    Créneau horaire souhaité :&nbsp;
                </div>
                <div class="value">
                    {{ callBack.timeCallBack|date('H\\Hs',"Europe/Paris") }}
                </div>
            </td>
        </tr>
    </table>
{% endblock %}

{% block footer %}
    <tr>
        <td>
            Pensez à rappeler cet internaute le jour J.
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ absolute_url(path("paprec_commercial_callBack_edit", {id: callBack.id})) }}">
                <button class="btn btn-green" style="margin: 5px 0px 15px 0px;">
                    Mettre à jour le statut
                </button>
            </a>
        </td>
    </tr>
{% endblock %}

{% block sub_footer %}
    <tr>
        <td>
            Cet email est un message automatique
        </td>
    </tr>
{% endblock %}

