{% extends "@PaprecCommercial/Common/emails/base_email.html.twig" %}

{% block css_rules %}
    <style>
    </style>
{% endblock %}

{# {% block picto_header %}
     <img alt="Logo" src="{{ absolute_url(asset('build/static/new_mail.svg')) }}" width="75px" height="75px"
          border="0" class="picto-header">
 {% endblock %}#}

{% block title_header %}
    <tr>
        <td style="padding: 60px 80px;" class="mobile-padding">
            <table class="new-demand" style="border-collapse:separate !important;" border="0" cellpadding="0"
                   cellspacing="0" width="100%" align="center">
                <tr>
                    <td align="center" style="padding-bottom: 10px;">
                        <div class="bullet">
                            <p style="text-align: center; margin: 0;">1</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 1.2em;">Vous avez une</td>
                </tr>
                <tr>
                    <td style="font-size: 2em;">nouvelle demmande</td>
                </tr>
                <tr>
                    <td style="font-size: 1.2em; padding-top: 25px;">
                        Formulaire Prestation {{ quoteRequest.division }}
                        - {{ ('Public.Cart.' ~ quoteRequest.frequency|capitalize)|trans }} -
                        N° {{ quoteRequest.id|formatId(6) }}
                    </td>
                </tr>
            </table>
    </tr>
{% endblock %}

{#{% block subtitle_header %}
    Formulaire Prestation {{ quoteRequest.division }} - {{ ('Public.Cart.' ~ quoteRequest.frequency|capitalize)|trans }} - N° {{ quoteRequest.id|formatId(6) }}
{% endblock %}#}

{% block main_content %}
    <table class="newRequestEmailTable responsive-table" border="0" cellpadding="0" cellspacing="0" width="100%"
           align="center"
           style="max-width: 600px; color: {{ gray1 }};font-size: 1em;">
        <tr style="border-bottom: 1px solid {{ gray2 }};">
            <td style="margin-bottom: 10px; font-size: 1.2em;font-weight: bold;display: block;">
                Détail de la demande N° {{ quoteRequest.id|formatId(6) }}
                - {{ quoteRequest.dateCreation|date('d/m/Y H:i') }}
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="label">
                {{ 'Commercial.QuoteRequest.BusinessName'|trans }} : &nbsp;
            </td>
            <td class="value">
                {{ quoteRequest.businessName }}
            </td>
        </tr>
        <tr>
            <td class="label">
                {{ 'Commercial.QuoteRequest.Civility'|trans }} : &nbsp;
            </td>
            <td class="value">
                {% if quoteRequest.civility == 'M' %}Monsieur{% else %}Madame{% endif %}
            </td>
        </tr>
        <tr>
            <td class="label">
                {{ 'Commercial.QuoteRequest.LastName'|trans }} :&nbsp;
            </td>
            <td class="value">
                {{ quoteRequest.lastName }}
            </td>
            </td>
        </tr>
        <tr>
            <td class="label">
                {{ 'Commercial.QuoteRequest.FirstName'|trans }} :&nbsp;
            </td>
            <td class="value">
                {{ quoteRequest.firstName }}
            </td>
        </tr>
        <tr>
            <td class="label">
                {{ 'Commercial.QuoteRequest.Function'|trans }} :&nbsp;
            </td>
            <td class="value">
                {{ quoteRequest.function }}
            </td>
        </tr>
        <tr>
            <td class="label">
                {{ 'Commercial.QuoteRequest.PostalCode'|trans }} :&nbsp;
            </td>
            <td class="value">
                {{ quoteRequest.postalCode }}
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="label">
                {{ 'Commercial.QuoteRequest.Email'|trans }} :&nbsp;
            </td>
            <td class="value">
                {{ quoteRequest.email }}
            </td>
        </tr>
        <tr>
            <td class="label">
                {{ 'Commercial.QuoteRequest.Phone'|trans }} :&nbsp;
            </td>
            <td class="value">
                {{ quoteRequest.phone }}
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="label">
                {{ 'Commercial.QuoteRequest.Need'|trans }} :&nbsp;
            </td>
            <td class="value">
                {{ quoteRequest.need }}
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="label">
                {{ 'Commercial.QuoteRequest.AttachedFiles'|trans }} :&nbsp;
            </td>
            <td class="value">
                {% if quoteRequest.attachedFiles %}
                    <a href="{{ absolute_url(path('paprec_commercial_quoteRequest_downloadAttachedFiles', {id: quoteRequest.id})) }}">Pièces
                        jointes</a>
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}

{% block footer %}

    <table class="footer-demand" border="0" cellpadding="0" cellspacing="0" width="100%" align="center"
           style="max-width: 600px;">
        <tr>
            <td style="padding-top: 25px;" align="center">
                Merci de répondre à cette demande sous 48h
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 25px;" align="center">
                <a href="{{ absolute_url(path("paprec_commercial_quoteRequest_edit", {id: quoteRequest.id})) }}">
                    <button class="btn btn-green" style="margin-top: 15px;">
                        Mettre à jour le statut
                    </button>
                </a>
            </td>
        </tr>
    </table>
{% endblock %}

{#{% block sub_footer %}
    <tr>
        <td>
            Cet email est un message automatique
        </td>
    </tr>
{% endblock %}#}

