{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ 'Commercial.ProductDIOrder.Edit'|trans }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content_title %}
    {{ 'Commercial.ProductDIOrder.ProductDIOrders'|trans }}
{% endblock %}

{% block main_content %}

    <form id="commercialProductDIOrderForm" action="" method="post" enctype="multipart/form-data">

        <div class="col-md-12">
            <!-- BOX -->
            <div class="card">
                <div class="card-header">
                    <h4>
                        <i class="fa fa-pencil-alt"></i> {{ 'Commercial.ProductDIOrder.Edit'|trans }} #{{ productDIOrder.id }}

                        <div class="float-right">

                            <a href="javascript:void(0);" class="btn btn-success commercial-productDIOrder-save-button"><i
                                        class="fa fa-check"></i> {{ 'Commercial.ProductDIOrder.Save'|trans }}</a>
                            <a href="javascript:void(0);" class="btn btn-danger commercial-productDIOrder-cancel-button"><i
                                        class="fa fa-close"></i> {{ 'Commercial.ProductDIOrder.Cancel'|trans }}</a>
                        </div>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{ 'Commercial.ProductDIOrder.Informations-FO'|trans }}</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label">{{ 'Commercial.ProductDIOrder.BusinessName'|trans }}</label>
                                    <div class="form-content">
                                        {{ form_widget(form.businessName, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.businessName) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">{{ 'Commercial.ProductDIOrder.BusinessLine'|trans }}</label>
                                    <div class="form-content">
                                        {{ form_widget(form.businessLine, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.businessLine) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">{{ 'Commercial.ProductDIOrder.Civility'|trans }}</label>
                                    <div class="form-content">
                                        {{ form_widget(form.civility, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.civility) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">{{ 'Commercial.ProductDIOrder.LastName'|trans }}</label>
                                    <div class="form-content">
                                        {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.lastName) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">{{ 'Commercial.ProductDIOrder.FirstName'|trans }}</label>
                                    <div class="form-content">
                                        {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.firstName) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">{{ 'Commercial.ProductDIOrder.Email'|trans }}</label>
                                    <div class="form-content">
                                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.email) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">{{ 'Commercial.ProductDIOrder.Address'|trans }}</label>
                                    <div class="form-content">
                                        {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.address) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-label">{{ 'Commercial.ProductDIOrder.PostalCode'|trans }}</label>
                                    <div class="form-content">
                                        {{ form_widget(form.postalCode, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.postalCode) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">{{ 'Commercial.ProductDIOrder.City'|trans }}</label>
                                    <div class="form-content">
                                        {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.city) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">{{ 'Commercial.ProductDIOrder.Phone'|trans }}</label>
                                    <div class="form-content">
                                        {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.phone) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">{{ 'Commercial.ProductDIOrder.OrderStatus'|trans }}</label>
                                    <div class="form-content">
                                        {{ form_widget(form.orderStatus, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.orderStatus) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">{{ 'Commercial.ProductDIOrder.TotalAmount'|trans }}</label>
                                    <div class="form-content">
                                        {{ form_widget(form.totalAmount, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.totalAmount) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{ 'Commercial.ProductDIOrder.Informations-BO'|trans }}</h5>
                            </div>
                            <div class="card-body row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.ProductDIOrder.GeneratedTurnover'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.generatedTurnover, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.generatedTurnover) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.ProductDIOrder.Agency'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.agency, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.agency) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.ProductDIOrder.Summary'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.summary, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.summary) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.ProductDIOrder.Frequency'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.frequency, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.frequency) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.ProductDIOrder.Tonnage'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.tonnage, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.tonnage) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.ProductDIOrder.KookaburaNumber'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.kookaburaNumber, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.kookaburaNumber) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.ProductDIOrder.UserInCharge'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.userInCharge, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.userInCharge) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="float-right">
                        <a href="javascript:void(0);" class="btn btn-success commercial-productDIOrder-save-button"><i
                                    class="fa fa-check"></i> {{ 'Commercial.ProductDIOrder.Save'|trans }}</a>
                        <a href="javascript:void(0);" class="btn btn-danger commercial-productDIOrder-cancel-button"><i
                                    class="fa fa-close"></i> {{ 'Commercial.ProductDIOrder.Cancel'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>



{% endblock %}

{% block javascripts %}

    <script>
        $(function () {

            $('.commercial-productDIOrder-save-button').on('click', function () {

                $('#commercialProductDIOrderForm').submit();

            });


            $('.commercial-productDIOrder-cancel-button').on('click', function () {

                var url = "{{ path("paprec_commercial_productDIOrder_view", {id: productDIOrder.id}) }}";

                bootbox.confirm("{{ 'Commercial.ProductDIOrder.Confirm-cancel'|trans }}", function (result) {
                    if (result === true) {
                        $(location).attr('href', url);
                    }
                });

            });

        });
    </script>
{% endblock %}