{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ 'Commercial.ProductDIOrder.View'|trans }}
{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css"
          href="{{ asset('/assets/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css') }}">
{% endblock %}

{% block content_title %}
    {{ 'Commercial.ProductDIOrder.Users'|trans }}
{% endblock %}

{% block main_content %}


    <div class="col-md-12">
        <!-- FLASH MESSAGE -->
        <div class="view-box">

            {% for flashMessage in app.session.flashbag.get('errors') %}
                <div class="alert alert-danger">{{ ('Commercial.ProductDIOrder.Error.' ~ flashMessage)|trans }}</div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">{{ ('Commercial.ProductDIOrder.Success.' ~ flashMessage)|trans }}</div>
            {% endfor %}
        </div>
        <!-- CARD -->
        <div class="card">
            <div class="card-header">
                <h4>
                    <i class="fa fa-productDIOrder"></i> {{ 'Commercial.ProductDIOrder.View'|trans }}
                    <div class="float-right">
                        <a href="{{ path("paprec_commercial_productDIOrder_edit", {id: productDIOrder.id}) }}"
                           class="btn btn-warning"><i
                                    class="fa fa-edit"></i> {{ 'Commercial.ProductDIOrder.Edit'|trans }}</a>
                        <a id="commmecialProductDIOrderRemoveButton_" href="javascript:void(0);" class="btn btn-danger"><i
                                    class="fa fa-trash"></i> {{ 'Commercial.ProductDIOrder.Remove'|trans }}</a>
                    </div>
                </h4>
                <div class="view-tools float-left">
                    <a href="{{ path('paprec_commercial_productDIOrder_index') }}" class="btn btn-default"><i
                                class="fa fa-chevron-left"></i> {{ 'Commercial.ProductDIOrder.List'|trans }}</a>
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ 'Commercial.ProductDIOrder.Informations-FO'|trans }}</h5>
                        </div>
                        <div class="card-body row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIOrder.BusinessName'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productDIOrder.businessName }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIOrder.BusinessLine'|trans }}</label>
                                    <label class="col-form-label">
                                        {% if productDIOrder.businessLine %}
                                            <a href="{{ path('paprec_commercial_businessLine_view', {id: productDIOrder.businessLine.id}) }}">{{ productDIOrder.businessLine.name }}</a>
                                        {% endif %}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIOrder.Civility'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productDIOrder.civility }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIOrder.LastName'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productDIOrder.lastName }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIOrder.FirstName'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productDIOrder.firstName }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIOrder.Email'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productDIOrder.email }}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIOrder.Address'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productDIOrder.address }}
                                    </label>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIOrder.PostalCode'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productDIOrder.postalCode }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIOrder.City'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productDIOrder.city }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIOrder.Phone'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productDIOrder.phone }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIOrder.OrderStatus'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productDIOrder.orderStatus }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIOrder.TotalAmount'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productDIOrder.totalAmount }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ 'Commercial.ProductDIOrder.Informations-BO'|trans }}</h5>
                        </div>
                        <div class="card-body row">
                            <div class="col-md-6">

                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIOrder.GeneratedTurnover'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productDIOrder.generatedTurnover }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIOrder.Agency'|trans }}</label>
                                    <label class="col-form-label">
                                        {% if productDIOrder.agency %}
                                            <a href="{{ path('paprec_commercial_agence_view', {id: productDIOrder.agency.id}) }}">{{ productDIOrder.agency }}</a>
                                        {% endif %}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIOrder.Summary'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productDIOrder.summary }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIOrder.Frequency'|trans }}</label>
                                    <label class="col-form-label">
                                        {% if productDIOrder.frequency == 'regular' %}Régulier {% else %}Ponctuel{% endif %}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIOrder.Tonnage'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productDIOrder.tonnage }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIOrder.KookaburaNumber'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ productDIOrder.kookaburaNumber }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIOrder.UserInCharge'|trans }}</label>
                                    <label class="col-form-label">
                                        {% if productDIOrder.userInCharge %}
                                            <a href="{{ path('paprec_user_user_view', {id: productDIOrder.userInCharge.id}) }}">{{ productDIOrder.userInCharge }}</a>
                                        {% endif %}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <h5>
                                {{ 'Commercial.ProductDIOrder.ProductsList'|trans }}
                                <div class="float-right">

                                    <a href="{{ path('paprec_commercial_productDIOrder_addLine', {id: productDIOrder.id}) }}" class="btn btn-outline-primary">
                                        <i class="fa fa-plus"></i> {{ 'Commercial.ProductDIOrder.AddLine'|trans }}
                                    </a>
                                </div>
                            </h5>
                        </div>
                        <div class="card-body">
                            <table id="productDIOrderLinesDatatable"
                                   class="table table-striped table-bordered table-hover"
                                   cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{{ 'Commercial.ProductDIOrderLine.ProductName'|trans }}</th>
                                    <th>{{ 'Commercial.ProductDIOrderLine.CategoryName'|trans }}</th>
                                    <th>{{ 'Commercial.ProductDIOrderLine.UnitPrice'|trans }}</th>
                                    <th>{{ 'Commercial.ProductDIOrderLine.Quantity'|trans }}</th>
                                    <th>{{ 'Commercial.ProductDIOrderLine.TotalAmount'|trans }}</th>

                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for productDIOrderLine in productDIOrder.productDIOrderLines %}
                                    <tr>
                                        <td>{{ productDIOrderLine.id }}</td>
                                        <td>{{ productDIOrderLine.productName }}</td>
                                        <td>{{ productDIOrderLine.categoryName }}</td>
                                        <td>{{ productDIOrderLine.unitPrice }}</td>
                                        <td>{{ productDIOrderLine.quantity }}</td>
                                        <td>{{ productDIOrderLine.totalAmount }}</td>
                                        <td class="text-center">
                                            <a href="{{ path('paprec_commercial_productDIOrder_editLine', {id: productDIOrder.id, orderLineId: productDIOrderLine.id}) }}"
                                               class="btn btn-warning btn-sm mx-1"
                                               data-id="{{ productDIOrderLine.id }}">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a href="#"
                                               class="btn btn-danger btn-sm commercialProductDIOrderLineRemoveButton"
                                               data-id="{{ productDIOrderLine.id }}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ 'Commercial.ProductDIOrder.System-informations'|trans }}</h5>
                        </div>
                        <div class="card-body">

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIOrder.Date-creation'|trans }}</label>
                                <label class="col-form-label">
                                    {{ productDIOrder.dateCreation|localizeddate('short', 'medium', app.request.locale) }}
                                </label>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'Commercial.ProductDIOrder.Date-update'|trans }}</label>
                                <label class="col-form-label">
                                    {{ productDIOrder.dateUpdate is empty ? "" : productDIOrder.dateUpdate|localizeddate('short', 'medium', app.request.locale) }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

        {% block javascripts %}
            <!-- DATA TABLES JS -->
            <script type="text/javascript"
                    src="{{ asset('/assets/vendor/datatables.net/js/jquery.dataTables.min.js') }}"></script>
            <script type="text/javascript"
                    src="{{ asset('/assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
            <script>
                $(function () {

                    $('#commmecialProductDIOrderRemoveButton_').on('click', function () {

                        var url = "{{ path("paprec_commercial_productDIOrder_remove", {id: productDIOrder.id}) }}";

                        bootbox.confirm("{{ 'Commercial.ProductDIOrder.Confirm-remove'|trans }}", function (result) {
                            if (result === true) {
                                $(location).attr('href', url);
                            }
                        });

                    });
                    $('.commercialProductDIOrderLineRemoveButton').on('click', function () {
                        orderLineId = $(this).data('id');
                        var url = "{{ path("paprec_commercial_productDIOrder_removeLine", {id: productDIOrder.id, orderLineId: 'orderLineIdTmp'}) }}".replace('orderLineIdTmp', orderLineId);

                        bootbox.confirm("{{ 'Commercial.ProductDIOrderLine.Confirm-remove'|trans }}", function (result) {
                            if (result === true) {
                                $(location).attr('href', url);
                            }
                        });
                    });

                });
            </script>
        {% endblock %}
