{% extends "@PaprecPublic/Common/Base/base_index.html.twig" %}

{#{% block title %}#}

{#{% endblock %}#}

{#{% block stylesheets %}#}

{#{% endblock %}#}

{% block sidebar %}
    {# Définition des menus affichés dans la sidebar #}
    <div class="home-index"></div>
    {% set besoin = 'active' %}
    {% set coordonnees = '' %}
    {% set offre = '' %}
    {{ parent() }}
{% endblock %}

{% block division_selected %}
    {% if step != 'd' %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block cinq_flux %}
    {% if (step is defined and (step == 'f' or step == 'r')) and (cart.division is defined and cart.division == '5FLUX') %}
        <a class="button button--grey"
           href="http://www.easyrecyclage.com">{{ 'Public.Cart.3MinOrder'|trans }}</a>
    {% endif %}
{% endblock %}

{% block frequency %}
    {% if (step == 'f' or step == 'r') and (cart.division is defined and cart.division != '5FLUX') %}
        {{ parent() }}
    {% endif %}
{% endblock %}


{% block javascripts %}
    <!-- Include Google Maps JS API -->
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&key={{ paprec_google_api_key }}">
    </script>
{% endblock %}