{% extends "@PaprecPublic/Common/Base/package/base_stepper.html.twig" %}


{#{% block title %}#}
{#{% endblock %}#}

{#{% block stylesheets %}#}

{#{% endblock %}#}
{% block whoare %}
{% endblock %}

{% block sidebar %}
    <div class="contact-details-form"></div>
    {# Définition des menus affichés dans la sidebar #}
    {% set besoin = 'passed' %}
    {% set coordonnees = 'active' %}
{#    {% set livraison = '' %}#}
{#    {% set paiement = '' %}#}
    {% set offre = '' %}

    {{ parent() }}
{% endblock %} 
{% block main_content_stepper %}
    <form id="contactDetailsForm" action="" method="post">
        <input type="hidden" id="divisionType" value="{{ cart.division }}">
        <div class="step step--index">
            <div class="step__left">
                <div class="step__title">{{ 'Public.Home.IAm'|trans }}</div>
            </div>
            <div class="step__right step__right--small">
                <div class="form-float-group">
                    {{ form_widget(form.businessName, {'id': 'business_name_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder':'placeholder'}}) }}
                    <label class="form-float-control-placeholder"
                           for="business_name_input">{{ 'Commercial.ProductChantierOrder.BusinessName'|trans }}</label>
                    {{ form_errors(form.businessName) }}
                </div>

{#                <div class="form-float-group">#}
{#                    {{ form_widget(form.siret, {'id': 'siret_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.ProductChantierOrder.SIRET'|trans}}) }}#}
{#                    <label class="form-float-control-placeholder"#}
{#                           for="siret_input">{{ 'Commercial.ProductChantierOrder.SIRET'|trans }}</label>#}
{#                    {{ form_errors(form.siret) }}#}
{#                </div>#}

                {{ form_widget(form.businessLine, {'attr': {'class': 'input input--full'}}) }}
                {{ form_errors(form.businessLine) }}

                {{ form_widget(form.civility, {'attr': {'class': 'input--radio'}}) }}
                {{ form_errors(form.civility) }}

                <div class="clearfix step--marginfield"></div>

                <div class="flex space-between">
                    <div class="form-float-group form-float-group--mid">
                        {{ form_widget(form.lastName, {'id': 'last_name_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.ProductChantierOrder.LastName'|trans}}) }}
                        <label class="form-float-control-placeholder"
                               for="last_name_input">{{ 'Commercial.ProductChantierOrder.LastName'|trans }}</label>
                        {{ form_errors(form.lastName) }}
                    </div>

                    <div class="form-float-group form-float-group--mid">
                        {{ form_widget(form.firstName, {'id': 'first_name_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.ProductChantierOrder.FirstName'|trans}}) }}
                        <label class="form-float-control-placeholder"
                               for="first_name_input">{{ 'Commercial.ProductChantierOrder.FirstName'|trans }}</label>
                        {{ form_errors(form.firstName) }}
                    </div>
                </div>

                <div class="form-float-group">
                    {{ form_widget(form.email, {'id': 'email_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.ProductChantierOrder.Email'|trans}}) }}
                    <label class="form-float-control-placeholder"
                           for="email_input">{{ 'Commercial.ProductChantierOrder.Email'|trans }}</label>
                    {{ form_errors(form.email) }}
                </div>

                <div class="form-float-group">
                    {{ form_widget(form.phone, {'id': 'phone_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.ProductChantierOrder.PhonePlaceholder'|trans}}) }}
                    <label class="form-float-control-placeholder"
                           for="phone_input">{{ 'Commercial.ProductChantierOrder.PhonePlaceholder'|trans }}</label>
                    {{ form_errors(form.phone) }}
                </div>

                <div class="form-float-group">
                    {{ form_widget(form.function, {'id': 'function_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.ProductChantierOrder.FunctionPlaceholder'|trans}}) }}
                    <label class="form-float-control-placeholder"
                           for="function_input">{{ 'Commercial.ProductChantierOrder.FunctionPlaceholder'|trans }}</label>
                    {{ form_errors(form.function) }}
                </div>

            </div>
        </div>
        <div class="step step--index">
            <div class="step__left">
                <div class="step__title">
                    {{ 'Public.Home.Addresses'|trans }}
                </div>
            </div>
            <div class="step__right step__right--small">

                <div class="form-float-group">
                    {{ form_widget(form.address, {'id': 'address_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.ProductChantierOrder.Address'|trans}}) }}
                    <label class="form-float-control-placeholder"
                           for="address_input">{{ 'Commercial.ProductChantierOrder.Address'|trans }}</label>
                    {{ form_errors(form.address) }}
                </div>
                <div class="flex space-between">
                    <div class="form-float-group form-float-group--zip">
                        {{ form_widget(form.postalCode, {'id': 'postal_code_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.ProductChantierOrder.PostalCode'|trans}}) }}
                        <label class="form-float-control-placeholder"
                               for="postal_code_input">{{ 'Commercial.ProductChantierOrder.PostalCode'|trans }}</label>
                        {{ form_errors(form.postalCode) }}
                    </div>
                    <div class="form-float-group form-float-group--city">
                        {{ form_widget(form.city, {'id': 'city_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.ProductChantierOrder.City'|trans}}) }}
                        <label class="form-float-control-placeholder"
                               for="city_input">{{ 'Commercial.ProductChantierOrder.City'|trans }}</label>
                        {{ form_errors(form.city) }}
                    </div>
                </div>

                <div class="clearfix"></div>
                <input type="checkbox" id="headofficeAddressCheckbox" class="address-checkbox">
                <label for="headofficeAddressCheckbox"
                       class="address-checkbox-label">{{ 'Commercial.ProductChantierOrder.HeadofficeAddressCheckbox'|trans }}</label>
                <div id="headofficeAddressContainer" class="address-container m-t-15">
                    <div class="form-float-group">
                        {{ form_widget(form.headofficeAddress, {'id': 'address_headoffice_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.ProductChantierOrder.HeadofficeAddressPlaceholder'|trans}}) }}
                        <label class="form-float-control-placeholder"
                               for="address_headoffice_input">{{ 'Commercial.ProductChantierOrder.HeadofficeAddressPlaceholder'|trans }}</label>
                        {{ form_errors(form.headofficeAddress) }}
                    </div>
                    <div class="flex space-between">
                        <div class="form-float-group form-float-group--zip">
                            {{ form_widget(form.headofficePostalCode, {'id': 'postal_code_headoffice_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.ProductChantierOrder.PostalCode'|trans}}) }}
                            <label class="form-float-control-placeholder"
                                   for="postal_code_headoffice_input">{{ 'Commercial.ProductChantierOrder.PostalCode'|trans }}</label>
                            {{ form_errors(form.headofficePostalCode) }}
                        </div>
                        <div class="form-float-group form-float-group--city">
                            {{ form_widget(form.headofficeCity, {'id': 'city_headoffice_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.ProductChantierOrder.City'|trans}}) }}
                            <label class="form-float-control-placeholder"
                                   for="city_headoffice_input">{{ 'Commercial.ProductChantierOrder.City'|trans }}</label>
                            {{ form_errors(form.headofficeCity) }}
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

{#                <input type="checkbox" id="invoicingAddressCheckbox" class="address-checkbox">#}
{#                <label for="invoicingAddressCheckbox"#}
{#                       class="address-checkbox-label">{{ 'Commercial.ProductChantierOrder.InvoicingAddressCheckbox'|trans }}</label>#}
{#                <div id="invoicingAddressContainer" class="address-container m-t-15">#}
{#                    <div class="form-float-group">#}
{#                        {{ form_widget(form.invoicingAddress, {'id': 'address_invoicing_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.ProductChantierOrder.InvoicingAddressPlaceholder'|trans}}) }}#}
{#                        <label class="form-float-control-placeholder"#}
{#                               for="address_invoicing_input">{{ 'Commercial.ProductChantierOrder.InvoicingAddressPlaceholder'|trans }}</label>#}
{#                        {{ form_errors(form.invoicingAddress) }}#}
{#                    </div>#}
{#                    <div class="flex space-between">#}
{#                        <div class="form-float-group form-float-group--zip">#}
{#                            {{ form_widget(form.invoicingPostalCode, {'id': 'postal_code_invoicing_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.ProductChantierOrder.PostalCode'|trans}}) }}#}
{#                            <label class="form-float-control-placeholder"#}
{#                                   for="postal_code_invoicing_input">{{ 'Commercial.ProductChantierOrder.PostalCode'|trans }}</label>#}
{#                            {{ form_errors(form.invoicingPostalCode) }}#}
{#                        </div>#}
{#                        <div class="form-float-group form-float-group--city">#}
{#                            {{ form_widget(form.invoicingCity, {'id': 'city_invoicing_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.ProductChantierOrder.City'|trans}}) }}#}
{#                            <label class="form-float-control-placeholder"#}
{#                                   for="city_invoicing_input">{{ 'Commercial.ProductChantierOrder.City'|trans }}</label>#}
{#                            {{ form_errors(form.invoicingCity) }}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
{#        <div class="step step--index">#}
{#            <div class="step__left">#}
{#                <div class="step__title">#}
{#                    {{ 'Public.Home.TVAStatus'|trans }}#}
{#                </div>#}
{#            </div>#}
{#            <div class="step__right form-input">#}
{#                {{ form_widget(form.tvaStatus, {'attr': {'class': 'input--radio'}}) }}#}
{#                {{ form_errors(form.tvaStatus) }}#}
{#            </div>#}
{#        </div>#}

        <div class="step step--index">
            <div class="step__left">&nbsp;</div>
            <div class="step__right step__right--small">
{#                <div class="form-float-group">#}
{#                    {{ form_widget(form.tvaNumber, {'id': 'tva_number_input', 'attr': {'class': 'input input--full step--marginfield form-float-control', 'placeholder': 'Commercial.ProductChantierOrder.TVANumber'|trans}}) }}#}
{#                    <label class="form-float-control-placeholder"#}
{#                           for="tva_number_input">{{ 'Commercial.ProductChantierOrder.TVANumber'|trans }}</label>#}
{#                    {{ form_errors(form.tvaNumber) }}#}
{#                </div>#}

                <div class="clearfix"></div>
                <div class="preferred-contact">
                    {{ 'Commercial.QuoteRequest.PreferredContactLabel'|trans }}
                </div>
                <div class="preferred-contact--choice">
                    {{ form_widget(form.preferredContact, {'attr': {'class': 'input--radio'}}) }}
                    {{ form_errors(form.preferredContact) }}
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <div class="step">
            <div class="step__left">&nbsp;</div>
            <div class="step__right">
                <div class="cgv">
                    {{ form_widget(form.terms) }}
                    {{ 'Commercial.QuoteRequest.TermsAccept'|trans }}
                    <a href="{{ paprec_public_site_url }}/cgv"
                       target="_blank">{{ 'Commercial.QuoteRequest.TermsCGV'|trans }}</a>
                    {{ form_errors(form.terms) }}
                </div>
                <div class="cnil">
                    Les informations recueillies sur ce formulaire sont enregistrées dans un fichier informatisé
                    pour
                    permettre de vous adresser des contenus adaptés à vos besoins. Ces données sont conservées
                    pendant 3
                    ans et sont destinées au service marketing. Conformément à la loi
                    « informatique et libertés », vous pouvez exercer votre droit d’accès aux données vous
                    concernant et
                    les faire rectifier en contactant : service-data@paprec.com
                </div>
            </div>
            <div class="clearfix"></div>

            {{ render(controller('PaprecPublicBundle:Common:getCTAsBottom', {
                'label': 'GoToDelivery',
                'cartUuid': cart.id,
                'division': cart.division,
                'stepBack': 'packaged_step1',
                'nextStep': 'packaged_step3',
                'idSubmit': 'contactDetailsFormSubmitButton'
            })) }}
        </div>
        {{ form_rest(form) }}
    </form>
{% endblock %}

{% block bottom_customizable_area %}
    {% set customAreaImage = paprec_customizable_area('images_banner_' ~ cart.division|lower) %}
    {% if customAreaImage is not null %}
        {% autoescape false %}
            {{ customAreaImage.content }}
        {% endautoescape %}
    {% endif %}

    {% set customArea = paprec_customizable_area('reassurance_banner_chantier') %}
    {% if customArea is not null %}
        {% autoescape false %}
            {{ customArea.content }}
        {% endautoescape %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&key={{ paprec_google_api_key }}">
    </script>
{% endblock %}
